[2020-10-26 09:31] Andersson007 opened #13 "Release plan"
##### SUMMARY
_(partially copied from https://github.com/ansible-collections/community.crypto/issues/74 , thanks to @felixfontein)_

We should decide on how to release this collection (w.r.t. versioning).
Small collections like this one don't need a complex plan like the one for community.general and community.network.
So how about the following?

1. Release minor and patch releases whenever we wa

[2020-10-26 09:32] Andersson007 commented on #13
cc @Andersson007 @Dorn- @andytom @antoinell @archf @b6d @dschep @ilicmilan @jbscalia @jensdepuydt @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @strk @tcraxs @wrouesnel

[2020-10-26 09:46] Andersson007 opened #14 "TODO (migration related)"
##### SUMMARY
Relates to migration from `community.general` to this repository (the order is not strict)

- [x] Move issues / prs
- [x] Move saslprep unit tests
- [x] Copy changelog related things
- [x] Copy fragments
- [x] Release 0.1.0
- [x] Add redirect
- [ ] ~~BOTMETA.yml: migrated_to~~ Nothing uses `migrated_to` so we can skip this - gundalow
- [x] Remove all extra stuff from tests
- [x] Look

[2020-10-26 10:41] Andersson007 opened #15 "postgresql_privs: Impossible to set column-level privileges"
_Copied from https://github.com/ansible-collections/community.general/issues/118_
_Initially reported by @Andersson007_

_Copied from https://github.com/ansible/ansible/issues/18955_
_Initially reported by @jnv_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
postgresql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Host: Ubuntu 17.04

Target: Ubuntu 14.0

[2020-10-26 10:42] Andersson007 opened #16 "Module `postgresql_query` cannot cope with identifiers"
_Copied from https://github.com/ansible-collections/community.general/issues/121_
_Initially reported by @Andersson007_

_Copied from https://github.com/ansible/ansible/issues/58644_
_Initially reported by @cans_

##### SUMMARY

The `postgresql_query` module cannot be used with any query that requires an identifier as an argument. Indeed as per the documentation, the underlying python DB API imple

[2020-10-26 10:45] Andersson007 opened #17 "postgresql_cluster: manage psql clusters on a host - not just main"
_Copied from https://github.com/ansible-collections/community.general/issues/122_
_Initially reported by @Andersson007_

_Copied from https://github.com/ansible/ansible/issues/67125_
_Initially reported by @DEvil0000_

**Before starting this**, please read the discussion in the initial [issue](https://github.com/ansible/ansible/issues/67125)

### SUMMARY
ansible allows to manage databases and so o

[2020-10-26 10:48] Andersson007 opened #18 "Integration tests are temporarily disabled for PostgreSQL module with CentOS 8"
_Copied from https://github.com/ansible-collections/community.general/issues/649_
_Initially reported by @Andersson007_

##### SUMMARY
Integration tests are temporarily disabled for PostgreSQL module with CentOS 8 because of hangings during service stop/start.
https://github.com/ansible-collections/community.general/pull/648

The following lilnes added to setup postgresql db role:
[code]
Happen wh

[2020-10-26 11:35] jnv commented on #15
Yay, fourth time!

[2020-10-29 05:36] Andersson007 commented on #13
`community.postgresql` 0.1.0 has just been released

[2020-11-02 05:25] Andersson007 commented on #18
After fixing this, don't forget to enable tests for CentOS 8 again https://github.com/ansible-collections/community.postgresql/pull/25

[2020-11-16 10:57] Andersson007 commented on #13
FYI: I will likely release `community.postgresql` 1.0.0 tomorrow 17.11.2020. If anybody has something urgent to review and merge, please let me know

[2020-11-17 07:22] Andersson007 commented on #13
1.0.0 has just been released!

[2020-11-24 09:28] Andersson007 commented on #14
Solved

[2020-11-24 09:28] #14 closed

[2020-12-03 10:20] Andersson007 opened #30 "PostgreSQL community pinboard"
[![GitHub community.postgresql issues](https://img.shields.io/github/issues/ansible-collections/community.postgresql)](https://github.com/ansible-collections/community.postgresql/issues)[![GitHub community.postgresql PRs](https://img.shields.io/github/issues-pr/ansible-collections/community.postgresql)](https://github.com/ansible-collections/community.postgresql/pulls)

_Copied from [#435](https:/

[2020-12-16 11:07] Iridescens opened #31 "Unable to dynamically use/substitute positional_args to NULLs in postgresql_query"
##### SUMMARY

Unable to dynamically use/substitute positional_args to NULLs in postgresql_query

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.general.postgresql_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

postgresql11-server-11.9-1PGDG.rhel7.x86_64
NAME="Red Hat Enterprise Linux Server"
VERSION="7.7 (Maipo)"

##### STEPS TO REPRODUC

[2020-12-16 11:55] davorceman opened #35 "general.postgresql_user reporting changes on every run"
##### SUMMARY
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.general.postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

After second run I expected status ok=1 changed=0

[2020-12-16 12:23] Andersson007 commented on #31
@Iridescens thanks for reporting the issue!

if you use `- null`, it works OK? https://github.com/ansible-collections/community.postgresql/pull/32

[2020-12-16 14:37] Iridescens commented on #31
@Andersson007 Yes, that explicit static definition works (i stated that in 'ACTUAL RESULTS'). As it seems case-insensitive, it accepts `null` as well as `NULL`.
I would be grateful if you could provide me a how-to with dynamic ansible variables.

[2020-12-17 10:05] Andersson007 commented on #31
ah, you mean `- "{{ bd_if_encap if (bd_if_encap is defined) else 'NULL' | default('NULL') }}"`
i see now.
I tried several options of null - the same result, it's substituted with "".
for example,
[code]
It's not a bug of the module. I don't know the solution, I think it relates to how jinja2 works. Maybe anybody else knows workarounds.

[2020-12-17 10:15] Andersson007 commented on #31
I come up with a workaround^
[code]

[2020-12-17 11:13] Andersson007 commented on #31
Added an example to the doc https://github.com/ansible-collections/community.postgresql/pull/32

[2020-12-19 16:21] felixfontein commented on #31
This can be fixed by enabling Ansible's [`DEFAULT_JINJA2_NATIVE` configuration](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native), see also https://github.com/ansible/ansible/issues/73010#issuecomment-747445941.

[2020-12-21 06:32] Andersson007 commented on #31
@felixfontein thanks for the clue! As the tests passed https://github.com/ansible-collections/community.postgresql/pull/32 , I'll merge the PR and will close the issue.

[2020-12-21 07:17] #31 closed

[2020-12-21 07:18] Andersson007 commented on #31
@Iridescens thanks for reporting the issue!

[2020-12-21 15:13] pmauduit opened #34 "postgresql_query - loading script fails if script contain plpgsql definitions"
##### SUMMARY

Note: previously opened here: https://github.com/ansible/ansible/issues/73041

We are using an ansible recipe to setup a postgresql in a Centos 7 environment. I recently updated my virtualenv (and in turn my ansible version). A postgresql_query step with a script containing a plpgsql function was working using the previous version of Ansible (2.9) but not anymore with Ansible 2.10.

[2020-12-21 16:31] Andersson007 commented on #34
@pmauduit thanks for reporting this!
Could you also please run your playbook with `-vvv` option and provide the full traceback

[2020-12-21 16:49] pmauduit commented on #34
Hi, here it is:
[code]

[2020-12-21 18:14] pmauduit commented on #34
I think the way the script is split into several different queries is causing the issue, comparing how it was handled in ansible v2.9 vs v2.10:

https://github.com/ansible-collections/community.postgresql/blob/main/plugins/modules/postgresql_query.py#L372-L377 (2.9) vs https://github.com/ansible/ansible/blob/v2.9.16/lib/ansible/modules/database/postgresql/postgresql_query.py#L273 (2.10)

[2020-12-22 05:14] Andersson007 commented on #34
@pmauduit yes, i think so, thank you for the clues! Will see how we can fix this

[2020-12-22 05:50] Andersson007 commented on #34
@pmauduit BTW, have you tried to use `postgresql_db` with `state: restore`? I'm fixing `postgresql_query` now and am not sure if we should make it more complex rather that just to use `postgresql_db state: restore`.

[2020-12-22 06:57] Andersson007 commented on #34
this really will make the parsing very complex (i did it locally, works but doesn't look good), so a lot of chances to introduce more bugs.

So, now we have the following options:
1. implement parsing of functions and procedures, which is very risky, IMO, and so it can worsen the situation
2. put a note to the documentation to warn users that the `path_to_script` works with simple queries separate

[2020-12-22 08:27] ilicmilan commented on #34
Not sure if we can improve that parsing, but anyway, option 2 sounds pretty good IMO.

[2020-12-22 08:48] pmauduit commented on #34
I cannot see the need for parsing in case of a sql script, but I might miss some history on the project. Anyway, I was wondering why not another postgresql command like "postgresql_script", which would not require to split the file in several queries ?

I am not aware of it, I'll have a look in the doc, thanks for the hint

[2020-12-22 14:55] felixfontein commented on #35
I transfered the issue to the correct repo. Sorry I missed this issue earlier...

[2020-12-23 05:25] Andersson007 commented on #35
@davorceman thanks for reporting the issue!
@felixfontein @russoz thanks you too!

I'll check this locally

[2020-12-23 05:34] Andersson007 commented on #35
@davorceman I run the following playbooks with the latest collection version and can't reproduce
[code]
could you please download, install, and check your playbook with the [latest collection tarball](https://galaxy.ansible.com/community/postgresql). How to install, etc., see [here](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html)

[2020-12-23 05:59] Andersson007 commented on #35
@davorceman
[code]
[code]
The password on AWS can't be checked and resp. compared because `pg_authid` is not accessible
so maybe `no_password_changes` helps

[2020-12-23 06:35] Andersson007 commented on #35
I added clarifications https://github.com/ansible-collections/community.postgresql/pull/36

[2020-12-23 15:47] Iridescens commented on #31
Sorry for being late to the talk, but I confirm that setting `jinja2_native = True` to `ansible.cfg` made the following code correctly preserve and upsert the NULLs:
[code]
At this time I didn't observe any unexpected behavior from setting jinja2_native.
@felixfontein Thank you very much! Happy holidays!

[2020-12-23 21:07] felixfontein commented on #31
@Iridescens thanks for verifying that! I think I'll also definitely flip that switch for my playbooks. Have to test whether there are some potential changes first of course, but I don't think there should be (otherwise I would treat that as bugs).

Also happy holidays to you!

[2020-12-24 05:45] Andersson007 commented on #31
@Iridescens thanks for the feedback and confirmation!

[2020-12-25 20:15] kostiantyn-nemchenko commented on #34
@Andersson007 My personal preference is the approach used in 2.9, but the 2nd option between these two also sounds good to me.

[2020-12-28 10:18] #35 closed

[2020-12-29 12:03] Andersson007 commented on #34
@pmauduit @ilicmilan @kostiantyn-nemchenko thanks for the feedback!
I created a PR https://github.com/ansible-collections/community.postgresql/pull/37 adding an option to read and run a script content in a single query (as it was), could you please take a look https://github.com/ansible-collections/community.postgresql/pull/37.

[2021-01-03 16:39] drybjed opened #38 "The 'postgresql_privs' module cannot grant access to database by another role"
##### SUMMARY

The `postgresql_privs` role is broken when trying to grant access to a PostgreSQL database owned by one role, to a different PostgreSQL role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Debian Buster
Database: PostgreSQL 11

##### STEPS TO REPRODUCE

The idea is to cre

[2021-01-04 06:27] Akasurde opened #39 "postgresql_user module fails with password on version 10.x if server is fips enabled"
_From @Andersson007 on Apr 06, 2020 11:27_

_Copied from https://github.com/ansible/ansible/issues/41787_
_Initially reported by @jbscalia_

Postgresql_user needs to support AES-256 encryption.

##### SUMMARY
If a server is FIPS-140-2 enabled, md5 is not permitted as an "encryption/hashing" algorithm. PostgreSQL version 10 supports AES-256 encryption, but postgresql_user does not support that opti

[2021-01-04 06:27] Akasurde commented on #39
_From @ansibullbot on Apr 17, 2020 14:44_

cc @Dorn- @amenonsen @andytom @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2021-01-04 06:27] Akasurde commented on #39
_From @avidspartan1 on Sep 04, 2020 18:47_

Would love to see this issue worked. Running into this when trying to deploy Pulp on a FIPS-enabled system.

[2021-01-04 11:17] tcraxs commented on #38
!component =postgresql_privs

[2021-01-04 11:55] tcraxs commented on #38
bot_status

[2021-01-04 13:44] tcraxs commented on #38
The problematic thing is the quoting. I checked this on a local PostgreSQL 13.1:
[code]

[2021-01-04 13:47] tcraxs commented on #38
So it sums up to a forced quoting of an already quoted string in [code line 803](https://github.com/ansible-collections/community.postgresql/blob/main/plugins/modules/postgresql_privs.py#L803).

[2021-01-06 08:25] Andersson007 commented on #38
@drybjed thanks for reporting this!
@tcraxsthanks for the investigation, would you like to fix this?

[2021-01-06 08:32] Andersson007 commented on #38
I had a quick look: if we remove the double quotes, the tests in the part related to names with dots will fail.
I stripped the quotes from a role like this:
[code]
and the current tests pass.
Maybe there are other options how to fix this more gracefully. We definitely should cover the module better

[2021-01-06 08:57] Andersson007 commented on #38
@drybjed btw, while it's not fixed, you could use `postgresql_user` module with `groups` parameter or `postgresql_membership` module, e.g.:
[code]

[2021-01-11 14:27] tcraxs commented on #38
Sorry no time ATM for fixing it

[2021-01-11 23:48] joaocc opened #40 "postgresql_ping fails when connecting to Azure postgresql (version has text after minor version)"
##### SUMMARY
postgresql_ping fails when connecting to Microsoft Azure postgresql with error `ValueError: invalid literal for int() with base 10: '6,'`
The query ```SELECT version()``` returns ```PostgreSQL 11.6, compiled by Visual C++ build 1800, 64-bit```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.general.postgresql_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[co

[2021-01-12 07:36] Andersson007 commented on #38
@tcraxs ok, np!
Hmm, it seems that the case is already covered by integration tests in tests/integration/targets/postgresql_privs/tasks/postgresql_privs_general.yml:
[code]
It works well there and returns:
[code]
Ubuntu 18.04, PostgreSQL 10.15.
Strange..
Looking further

[2021-01-12 11:43] Andersson007 commented on #38
@tcraxs i think line 803 is not the reason.
I think this was already fixed.
[code]
couple of month ago it was changed to
[code]
that's why i cannot reproduce it running the tests from `main`. And the mentioned part of tests which covers the case was added when fixing similar case.
@tcraxs could you please try the same playbook after fixing that line like above or using the development version from

[2021-01-13 19:35] davetapley opened #41 "Case mismatch in postgresql_set causes MODULE FAILURE"
##### SUMMARY

Then trying to set [`timezone`](https://stackoverflow.com/a/32423177/21115) with `postgresql_set` I got a large error stack ending in `MODULE FAILURE` instead of it either:
* Just Working, or:
* Giving a clue to the workaround (use `name: TimeZone`).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`MODULE community.general.postgresql_set`

##### ANSIBLE VERSION

[code]

#####

[2021-01-13 19:40] davetapley commented on #41
My workaround is to use `name: "TimeZone"`.
I found that via:
https://github.com/ansible-collections/community.postgresql/blob/ed91c875bd77f1d239ddc5bfbb3cf4d1e9d82aff/plugins/modules/postgresql_set.py#L192-L194

And then running `SELECT name, setting, unit, context, boot_val FROM pg_settings` on my DB I spotted:
[code]
---
This is especially silly since none? of the other settings use CamelCase:

[2021-01-14 05:42] Andersson007 commented on #41
@davetapley thanks for reporting this! I'm looking what we can do

[2021-01-14 05:50] Andersson007 commented on #41
https://github.com/ansible-collections/community.postgresql/pull/42

[2021-01-14 05:50] Andersson007 commented on #41
@davetapley please take a look https://github.com/ansible-collections/community.postgresql/pull/42

[2021-01-14 05:52] #34 closed

[2021-01-14 05:53] Andersson007 commented on #34
thank you folks! I'll release the collection within 1-2 weeks

[2021-01-14 15:57] pmauduit commented on #34
thanks for the work @Andersson007

[2021-01-15 07:58] #41 closed

[2021-01-15 08:00] Andersson007 commented on #41
I'll merge the PR so the issue was automatically closed. Thanks!

[2021-01-15 10:15] Andersson007 commented on #38
I'll close the PR for a while.
@drybjed if you miss the comment above, when you try the latest version, please let me know how it works. Thanks! (we can reopen this issue at any time)

[2021-01-15 10:37] Andersson007 commented on #40
@joaocc thanks for reporting this! I created https://github.com/ansible-collections/community.postgresql/pull/43

[2021-01-15 11:44] #40 closed

[2021-01-15 11:50] Andersson007 commented on #13
I'm going to release version 1.1.0 on Monday January 18 (if time allows)

[2021-01-16 13:33] drybjed commented on #38
@Andersson007, sorry for missing the comment. I cannot modify the module as you suggest because it's already modified, the [changes](https://github.com/ansible-collections/community.postgresql/blob/main/plugins/modules/postgresql_privs.py#L775-L776) should be included in Ansible 2.10.5 I'm currently using. The issue is still present.

[2021-01-18 05:55] Andersson007 commented on #13
`community.postgresql` 1.1.0 has been released

[2021-01-18 06:12] Andersson007 commented on #40
FYI: `community.postgresql` collection has just been released.
The tarbal is available on [Galaxy](https://galaxy.ansible.com/community/postgresql).
How to install it, see the [official guide](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html).
The changes will also be included in the next Ansible release.

[2021-01-18 06:12] Andersson007 commented on #41
FYI: `community.postgresql` collection has just been released.
The tarbal is available on [Galaxy](https://galaxy.ansible.com/community/postgresql).
How to install it, see the [official guide](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html).
The changes will also be included in the next Ansible release.

[2021-01-18 06:13] Andersson007 commented on #34
FYI: `community.postgresql` collection has just been released.
The tarbal is available on [Galaxy](https://galaxy.ansible.com/community/postgresql).
How to install it, see the [official guide](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html).
The changes will also be included in the next Ansible release.

@pmauduit would be good to get your feedback:)

[2021-01-19 14:15] pmauduit commented on #34
@Andersson007 sorry for my lack of Ansible knowledge, but I installed the last version using `ansible-galaxy` as stated in the doc, but it seems that my playbook is still using the python files from the ansible setup (via pip in a virtualenv). Is there a way to force the use of the collection ? For now, running my playbook is still using the former version of the postgresql_query file.

Here is my

[2021-01-20 06:17] Andersson007 commented on #34
@pmauduit no problem!
1. please try to replace `postgresql_query` to `community.postgresql.postgresql_query` in your playbooks. Then run
2. if it doesn't help, could you please put the output of `ansible --version` here?

Thanks!

[2021-01-20 09:12] pmauduit commented on #34
using `community.postgresql.postgresql_query` and `as_single_query: yes`, my playbook is running fine as it was on ansible 2.9, so I'm fine with the fix, thanks !

[2021-01-20 09:33] Andersson007 commented on #34
@pmauduit , glad to hear:) YW, thanks for the feedback!

[2021-01-20 10:59] Andersson007 commented on #38
@drybjed I reopened the issue, thanks for the feedback. Will see

[2021-01-20 11:19] Andersson007 commented on #38
@drybjed, i copy-pasted the playbook in the description and ran it with Ansible 2.10.5 (i removed 2.10.1 before installing 2.10.5).
[code]
Everything works ok:
[code]
Maybe there are some things left from the previous installation in your system?
Could you please change `postgresql_privs` to `community.postgresql.postgresql_privs` in your playbook?

[2021-01-20 13:55] #38 closed

[2021-01-20 14:37] Andersson007 commented on #38
@drybjed no problem! I'm happy we rechecked together and found that everything works as expected:) thanks for the feedback!

[2021-01-23 17:40] drybjed opened #44 "The 'postgresql_privs' module is not idempotent in certain cases"
##### SUMMARY

Certain grant and revoke actions in the `postgresql_privs` module are not idempotent since Ansible 2.10.1. I have checked this on multiple versions of Ansible:

ansible: 2.10.0
ansible-base: 2.10.1
status: idempotent

ansible: 2.10.0
ansible-base: 2.10.2
status: idempotent

ansible: 2.10.1
ansible-base: 2.10.2
status: non-idempotent

ansible: 2.10.2
ansible-base: 2.10.3
status: non-

[2021-01-26 04:45] Akasurde opened #45 "postgresql_query, Postgresql 13, select from pg_stat_statements -> MODULE FAILURE"
_From @IgorOhrimenko on Jan 25, 2021 12:53_

##### SUMMARY

postgresql_query MODULE FAILURE when SELECT * FROM pg_stat_statements LIMIT 1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

PostgreSQL 13

##### STEPS TO REPRODUCE

docker run -p 5432:5432 --name postgres -e POSTGRES_PASSWORD=myse

[2021-01-26 04:45] Akasurde commented on #45
_From @ansibullbot on Jan 25, 2021 12:53_

Files identified in the description:
None

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2021-01-26 08:15] Andersson007 commented on #45
CC @Dorn- @andytom @ilicmilan @jbscalia @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs

[2021-01-26 08:16] Andersson007 commented on #44
@drybjed thanks for reporting this!
CC @Dorn- @andytom @ilicmilan @jbscalia @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs

[2021-01-26 08:18] Andersson007 commented on #45
@IgorOhrimenko thanks for reporting the issue!

[2021-01-26 08:44] tcraxs commented on #44
I found the change in the documentation: https://github.com/ansible-collections/community.postgresql/commit/f91a202450cf57d42d54b106c3779a0038f4ae75#diff-7a69a7ea4df27294ee21c14d20d48cae9b9cdce68bddbf8205cae1d7aabbc9e9R172

So I guess this is intended, also not optimal.

[2021-01-26 08:51] drybjed commented on #44
Ah, so it is a limitation of the PostgreSQL not returning any status change for this particular role? I suppose that if these particular statements are 100% idempotent on Ansible's side, I can just add `changed_when: False` to ignore the changed status and point to this PR for explanation.

[2021-01-26 08:58] tcraxs commented on #44
There is a return status, but I think it is difficult to find an easy way to figure out if this grants already exists or not.
The return status is every time GRANT or REVOKE.

Yes, I think this is the way to go here.

If you find a good way (SQL query) to check if the statement will not change anything, then we can maybe implement this in the module, to fix this non-idempotent case.

[2021-01-26 09:20] drybjed commented on #44
I think it there was such a query the module could use, it would be implemented by now. Since we found a workaround, I'm closing this issue.

[2021-01-26 09:20] #44 closed

[2021-01-26 10:40] Andersson007 commented on #44
@drybjed , not sure;)
Anyway, @tcraxs @drybjed thanks you for the investigation and discussion!

[2021-01-27 10:44] Andersson007 commented on #45
https://github.com/ansible-collections/community.postgresql/pull/46

[2021-01-28 11:38] #45 closed

[2021-01-28 11:41] Andersson007 commented on #45
Merged! When the next version of community.postgresql is released, I'll put a comment here. Also will try to backport the fix to 2.9 during next week. Thanks everyone!

[2021-01-29 10:07] markwort opened #47 "postgresql_query cannot handle interval type"
Hey, first off: thanks for this great collection of modules, I find them very useful!

##### SUMMARY
When trying to `SELECT` a field of type `interval` (a PostgreSQL type describing time intervals), postgresql_query fails with
[code]

This `datetime.timedelta` type seems to come from psycopg2...

I stumbled across this when querying `pg_stat_replication`, which contains a few columns with type int

[2021-01-29 10:23] Andersson007 commented on #47
@markwort thanks reporting the issue! Nice to hear that people find the collection useful!

CC @Dorn- @andytom @ilicmilan @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs

if anybody wants to fix this (see recently merged https://github.com/ansible-collections/community.postgresql/pull/46 as an example), please, put your intention here ASAP not to work in parallel (I'll also do it if I

[2021-01-29 16:28] k3rni opened #48 "postgresql_set in check mode fails on non-numeric values containing `B`"
##### SUMMARY
When running in check mode, `postgresql_set` throws an exception if the value to set contained the letter `B`, or other binary units like `KB, MB`, but was **not** numeric otherwise.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_set

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Minimal playbook, assum

[2021-01-29 22:14] csamarajeewa opened #49 "zero-length delimited error granting group to role using postgresql_privs module"
##### SUMMARY

Receiving the following error when granting group access to a role using community.general.postgresql_privs module. I did not have any problems using postgresql_privs module with ansible 2.8 and 2.9 for the same purpose and same args.

"msg": "zero-length delimited identifier at or near \"\"\"\"\nLINE 1: GRANT \"\"REDACTED-ROLE\"\" TO \"REDACTED-USER\";\n              ^\n"

##### IS

[2021-01-30 07:45] Andersson007 commented on #48
@k3rni  thanks reporting the issue!

CC @Dorn- @andytom @ilicmilan @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs

if anybody wants to fix this, please, put your intention here ASAP not to work in parallel (I'll also do it if I decide). I'd be happy to review any related fixes. Thanks!

[2021-01-30 13:35] felixfontein commented on #49
@csamarajeewa the postgres modules have moved to the https://github.com/ansible-collections/community.postgresql/ repository (they are no longer included in community.general 2.0.0). I've transferred your issue to the correct repository.

[2021-01-31 12:58] nodiscc opened #50 "postgresql_query fails with 'can't execute an empty query' when a commented out query is present in the script"
##### SUMMARY

When trying to run [this script](https://git.tt-rss.org/fox/tt-rss/src/branch/master/schema/ttrss_schema_pgsql.sql) through `postgresql_query` using `path_to_script`, the module fails with

[code]

Deleting the commented-out query line 164 makes the module work again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`posqtgresql_query`

##### ANSIBLE VERSION

[code]

##### CONF

[2021-02-01 06:30] Andersson007 commented on #47
FYI: I'm looking at this

[2021-02-01 06:35] Andersson007 commented on #49
@csamarajeewa thanks for reporting the issue!
CC @Dorn- @andytom @ilicmilan @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs

[2021-02-01 06:37] Andersson007 commented on #50
@nodiscc thanks for reporting the issue!
CC @Dorn- @andytom @ilicmilan @kostiantyn-nemchenko @matburt @nerzhul @sebasmannem @tcraxs

[2021-02-01 07:30] Andersson007 commented on #47
I created a [PR](https://github.com/ansible-collections/community.postgresql/pull/51). It's ready for review
@markwort if the solution looks good to you, please put `shipit` in the PR

[2021-02-01 08:21] Andersson007 commented on #48
FYI: I'm fixing this

[2021-02-01 11:44] Andersson007 commented on #48
I created https://github.com/ansible-collections/community.postgresql/pull/52
ready_for_review

[2021-02-01 11:46] Andersson007 commented on #50
@nodiscc have you tried `as_single_query: yes` option?

[2021-02-01 11:49] Andersson007 commented on #49
@csamarajeewa could you try this module with 2.10.5
passing `commynity.postgresql.postgresql_privs:` instead of `postgresql_privs:` or `community.general.postgresql_privs:`?

[2021-02-01 12:11] Andersson007 commented on #47
there were unrelated CI issues, fixed now

[2021-02-01 16:02] csamarajeewa commented on #49
Thanks I have no issues when using community.postgresql.postgresql_privs .

[2021-02-01 16:02] #49 closed

[2021-02-02 05:46] Andersson007 commented on #49
@csamarajeewa thanks for the feedback! the bugfix probably was not backported to `community.general`, I'll check when time allows

[2021-02-02 09:45] #47 closed

[2021-02-04 14:58] markwort commented on #47
Nice!
I wasn't counting on such a fast resolution.
Sorry it took me a few days to get back to you, I had other duties and now it took me more than I care to admit to get a development environment of ansible running here :)
In the end I learned something new about ansible and how collections work :+1:

I verified it and now it works as expected:
[code]

If I run into something like this again, now

[2021-02-09 07:08] #48 closed

[2021-02-09 07:50] Andersson007 commented on #13
`community.postgresql` 1.1.1 has been released

[2021-02-09 08:15] Andersson007 commented on #47
@markwort thanks for the feedback!

[2021-02-09 08:15] Andersson007 commented on #47
I backported the fix to 2.9 and hope that it'll be merged soon

[2021-02-21 10:49] nodiscc commented on #50
sorry for the delay, I just tried with `as_single_query: yes` and am getting an error:

[code]

Same result after upgrading to ansible 2.10.7

[2021-02-22 06:49] Andersson007 commented on #50
@nodiscc about the delay - no problem at all! Thanks for the feedback!

Could you please change the module invocation in your playbook to use FQCN (fully qualified collection name) `postgresql_query:` => `community.postgresql.postgresql_query:` ?

[2021-03-08 15:11] silvio opened #64 "Documentation improvement for fast ramp up"
##### SUMMARY
I need help using your module. Maybe the documentation can be improved in this area.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
all

##### ANSIBLE VERSION

[code]

I'm trying to use `community.postgresql` and failing miserably!
What did I do: First install via: `ansible-galaxy collection install community.postgresql`. Then in the playbook just reference via

[code

[2021-03-08 15:40] Andersson007 commented on #64
@silvio hi, thanks for reporting this!
One question before going further - if you remove the `collections: - community.postgresql` directive and use `community.postgresql.postgresql_db:` instead of just `postgresql_db:` in the module's invocations, does it work?

[2021-03-08 16:25] silvio commented on #64
Hi @Andersson007 ,
Sorry, I have to take back my help-request.

I have tried to load the roles via `include_role`, and this isn't possible. When I use `postgresql_db` or `community.postgresql.postgresql_db` as a task it is functional.

[2021-03-08 16:25] #64 closed

[2021-03-08 16:45] Andersson007 commented on #64
@silvio ah, ok, no problem:)

[2021-03-10 16:22] nskalis opened #65 "customising login_unix_socket is not working"
##### SUMMARY
When trying to adjust the `login_unix_socket` option
[code]

The modules `community.postgresql.postgresql_db` and `community.postgresql.postgresql_user` (at least) ignore the full path and append the default setting unix socket `.s.PGSQL.5432`.
As a result, the error below manifests

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- community.postgresql.postgresql_db
- co

[2021-03-11 20:19] asifiqbal opened #66 "postgresql_db dump gives incorrect error 'password authentication failed'"
##### SUMMARY

When no permission to write on target during dump, postgresql_db gives wrong error message "FATAL:  password authentication failed for user". It works fine when become: yes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7

[2021-03-12 06:36] Andersson007 commented on #50
@nodiscc hi, if you try what i suggested ^ and give feedback, I would be really grateful:)

[2021-03-13 05:46] Andersson007 commented on #65
@nskalis thanks for the report!

I don't see the connection function (common for all the modules) appends anything.

I think you could try to specify just `/tmp` as explained here https://stackoverflow.com/questions/5500332/cant-connect-the-postgresql-with-psycopg2

Also https://www.postgresql.org/docs/current/runtime-config-connection.html i can see the parameter called `unix_socket_directories (

[2021-03-13 06:33] Andersson007 commented on #66
@asifiqbal hi, thanks for the report!
I investigated a little bit.

There's no artificial exceptions thrown around this functionality (and in general containing this message).

The dump functionality is implemented via
[code]
This runs `pg_dump` via shell and return `pg_dump`s stderr when the command fails
[code]
`pg_dump: [archiver (db)] connection to database \"jira\" failed: FATAL:  password au

[2021-03-13 07:50] nskalis commented on #65
Thank you for looking into it. This is what I did to make it work:

1. changed the path to `/tmp`
2. changed the port (to its original): `5432` (from `5433`)

The above works. But, I don't know how to make it work using the non-default port.

[2021-03-13 11:37] Andersson007 commented on #65
Good question.
Anyway, i think the issue is out of scope of the collection.

I found https://serverfault.com/questions/260229/postgres-application-tries-to-use-incorrect-socket-file with similar symptoms.

According to the suggested, you could use https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html and try to add to your tasks the `environment` option specifying the port,

[2021-03-13 11:54] nskalis commented on #65
oh, thanks! "search" loves you! I think I'll test it again the coming Wednesday, I'll post an update :)

[2021-03-13 12:02] Andersson007 commented on #65
Ok, thanks:)

[2021-03-15 09:53] #65 closed

[2021-03-19 09:06] Andersson007 commented on #66
@asifiqbal could you please look at my previous comment and give feedback? Thanks!

[2021-03-22 12:13] zmehu opened #69 "Postgresql_query and Postgresql_* modules do not provide option for target_session_attrs"
##### SUMMARY
Postgresql_* modules use Python psycopg2 library and this library allow use when connection to cluster attribute target_session_attrs. When we set target_session_attrs="read-write" we will connect to master/write host. It's useful when we use PostgreSQL clusters.

##### ISSUE TYPE
- Provide attribute target_session_attrs and passthrough to psycopg2

##### COMPONENT NAME
postgresql_qu

[2021-03-22 12:26] Andersson007 commented on #69
@zmehu , hi, thanks for the feature idea, sounds very interesting though I'm not an expert. Do you like to implement this yourself?
We should be careful about the driver versions - that all of them support it.

@tcraxs @andytom @Dorn- @popov83 @sebasmannem @kostiantyn-nemchenko what do you think?

[2021-03-24 06:27] Andersson007 commented on #50
@nodiscc thanks for the feedback
I added a couple of comments `-- bla bla` to out tests scripts.
With `as_single_query: no` it fails but with different error (as expected),
and with `as_single_query: yes` it passed, so can't reproduce.

Could you please share your script again? I don't see it using the link in the description. Maybe it was removed.

[2021-03-30 10:31] Andersson007 commented on #13
`community.postgresql` 1.2.0 has been released

[2021-03-31 02:52] nergdron opened #78 "community.postgresql.postgresql_set incorrectly quotes strings containing commas"
just tested the latest release (`1.2.0`) since it was only released 15h ago, devel doesn't have any notable changes i can see which would affect this bug.

##### SUMMARY
when using `postgresql_set` with a string value that contains a comma, for some reason it puts extra doublequotes (`"`) around the string, breaking it when it's included in `postgresql.auto.conf`:

[code]

##### ISSUE TYPE
- Bug R

[2021-03-31 09:37] Andersson007 commented on #78
@nergdron hi, thanks for reporting this!
CC @tcraxs @andytom @kostiantyn-nemchenko @sebasmannem @ilicmilan @popov83
If anyone wants to fix this, please put something here first ASAP

[2021-03-31 09:39] Andersson007 commented on #78
and folks, now we have [this step-by-step guide](https://github.com/ansible-collections/community.postgresql/blob/main/CONTRIBUTING.md#step-by-step-guide-how-to-get-into-development-quickly) how to setup everything and submit a PR very quickly. Would be happy to review

[2021-04-01 16:21] nodiscc commented on #50
The file has moved: https://git.tt-rss.org/fox/tt-rss/src/branch/master/sql/pgsql/schema.sql

[schema.sql](https://github.com/ansible-collections/community.postgresql/files/6244943/schema.sql.txt)

[2021-04-02 05:49] Andersson007 commented on #66
as no response, I'll close the issue. We could reopen it if there are any updates.

[2021-04-02 05:49] #66 closed

[2021-04-02 06:12] Andersson007 commented on #50
@nodiscc thanks for the script!

I took it as it is and ran with the following task:
[code]
The test has passed.
I use the latest collection version.
Could you install the latest version manually and try: https://galaxy.ansible.com/community/postgresql , How to is https://docs.ansible.com/ansible/latest/user_guide/collections_using.html

Thank you for the collaboration! Will be waiting feedback fr

[2021-04-02 06:36] Andersson007 commented on #78
@nergdron it's not the module.
I ran in psql the following command:
`postgres=# alter system set shared_preload_libraries = 'pg_stat_statements,repmgr';`

And then checked postgresql.auto.conf:
`shared_preload_libraries = '"pg_stat_statements,repmgr"'`
So PostgreSQL added the extra quotes.

It's a bug of PostgreSQL https://www.postgresql.org/message-id/10860.1438980591%40sss.pgh.pa.us

[2021-04-02 06:38] Andersson007 commented on #78
We can't fix it on the module's side. So i think the issue should be closed.
Anyway, @nergdron thanks for reporting! if anyone comes across this in the future my investigation will be helpful I hope.

[2021-04-02 06:51] Andersson007 commented on #50
(this options is a source of pain actually. i'd recommend to use `postgresql_db` with `state: restore` whenever possible)

[2021-04-06 11:28] Andersson007 commented on #78
I'll close the issue then because of my investigations above, we can open it later if needed. Thanks you!

[2021-04-09 18:22] nodiscc commented on #50
[code]

[code]

-> it works. Thank you @Andersson007

I can live with the workaround for now and I'd prefer to avoid using a development version of `community.postgresql` in my playbooks. How/when will the collection be updated in the [ansible pypi distribution](https://pypi.org/project/ansible/)? In the next release?

thanks again

[2021-04-10 04:44] Andersson007 commented on #50
@nodiscc yes, in the next release of Ansible 3 it should be there.
It's not a dev version, it's an official release and Ansible just picks up all the tarballs (latest versions) of the collections included in the package. It's just my opinion but this approach gives flexibility when we can install minimal ansible-core + collections from galaxy we really needed (not all ~80 included by default). Any

[2021-04-10 04:44] #50 closed

[2021-04-16 08:51] landryb opened #83 "add support to restore from directory formats"
##### SUMMARY
`db_restore` has support for pgc and tar formats, would be nice to have directory (which is compressed by default)

for some reasons (being able to pass arbitrary `pg_restore` options) i'm not comfortable with using dumps restored with psql, supported via .sql.gz, .sql.xz, etc..

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
postgresql_db

##### ADDITIONAL INFORMATION

[code]

[2021-04-20 15:49] jkman340 opened #84 "postgresql_set adding extra quotes for comma seperated list"
##### SUMMARY
Using postgresql_set module to set a value for a setting  ( For example 'shared_preload_libraries') that contains comma separated list.  The module is wrapping extra quotes around the resulting value in postgresql.auto.conf file causing the postgresql service to fail.

For example:
[code]
Results in this line in postgresql.auto.conf config. Because of the inner "", it treats this as

[2021-04-22 07:10] Andersson007 commented on #84
@jkman340 thanks for the issue!
I think it relates to a PostgreSQL bug. See investigation made https://github.com/ansible-collections/community.postgresql/issues/78#issuecomment-812350722

[2021-04-22 07:12] Andersson007 commented on #84
if you run `ALTER SYSTEM SET shared_preload_libraries = 'firstlib,secondlib';` via `psql`, you will get the same wrong result in `postgresql.auto.conf`, won't you?

[2021-04-28 09:00] Andersson007 opened #85 "postgresql_query: set default behavior of as_single_query at True right before 2.0.0 release"
##### SUMMARY
postgresql_query: change the default behavior of `as_single_query` to `yes` before 2.0.0 release (~in half a year). Add warning now. Announce the breaking change.

##### COMPONENT NAME
`postgresql_query`

[2021-05-03 06:55] Andersson007 commented on #13
I'm gonna release c.postgresql 1.3.0 now

[2021-05-03 09:50] Andersson007 commented on #13
community.postgresql 1.3.0 has been released

[2021-05-13 13:39] Andersson007 commented on #84
@jkman340 I'll close the issue. If you check as I suggested above and find any inconsistencies, please let us know and we'll reopen it. Thank you!

[2021-05-13 13:39] #84 closed

[2021-05-17 12:03] andreagrax opened #96 "Superuser flag unnecessarily needed ?"
##### SUMMARY
superuser is required to create a non-superuser one, tested against aws rds which does have a limited `postgres` user.

Connecting with `psql` and doing `user create` and also `alter user` works fine, but the second run of `postgfresql_user` fails with `psycopg2.errors.InsufficientPrivilege: must be superuser to alter superusers`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

p

[2021-05-18 08:51] Andersson007 commented on #96
@andreagrax hi, thanks for reporting the issue!
If i understand correctly, the first run on RDS works well and all the subsequent fail, right?

Have you tried to use `no_password_changes: yes` in the task?
I'd be grateful for feedback.
Thanks!

[2021-05-18 09:06] andreagrax commented on #96
@Andersson007 yes, you're correct.
first run is OK, subsequent ones fails.

I've tried with `no_password_changes: yes` and it  doesn't change the outcome

[2021-05-18 09:40] Andersson007 commented on #96
@andreagrax thanks for the feedback!
I guess it could mean that there's a place somewhere else in the code (in `user_alter`) which tries to update a user on RDS not having some information (similarly to the password case with Amazon mentioned).
If anyone wants to take a look, it would be great. Not sure if i can investigate this soon.

CC @tcraxs @andytom @kostiantyn-nemchenko @sebasmannem @ilicmi

[2021-05-18 09:48] Andersson007 commented on #96
(if anyone from newcomers has ideas how to fix it, we have a quick start guide in https://github.com/ansible-collections/community.postgresql/blob/main/CONTRIBUTING.md)

[2021-06-01 20:52] asifiqbal opened #100 "Need a rename option for postgresql_db"
##### Rename a database

##### ISSUE TYPE
- rename database

##### COMPONENT NAME

- postgresql_db

##### ADDITIONAL INFORMATION

- Need to rename a database

[code]

[2021-06-03 05:31] Andersson007 commented on #100
Hi @asifiqbal , thanks for the idea!

cc @Andersson007 @Dorn- @andytom @antoinell @archf @b6d @dschep @ilicmilan @jensdepuydt @kostiantyn-nemchenko @sebasmannem @strk @tcraxs @wrouesnel
would be great to hear your thoughts on the proposed feature

[2021-06-03 08:37] Andersson007 opened #102 "We are looking for new maintainers and contributors."
##### SUMMARY
Hi everyone!

This collection is a part of Ansible package and is looking for new maintainers and contributors.
To learn how to contribute to the collection and how to maintain it / become a maintainer, refer to the [Contributing guidelines](https://github.com/ansible-collections/community.postgresql/blob/main/CONTRIBUTING.md) which also includes the Quick-start guide.

This collecti

[2021-06-08 14:59] tcraxs commented on #100
I would say it is a legit feature request, as the `ALTER DATABASE` command support that: https://www.postgresql.org/docs/current/sql-alterdatabase.html
The only thing which could be tricky and need to be excluded:

[2021-06-09 07:29] Andersson007 commented on #100
@tcraxs thanks for sharing you thoughts!
So we could:
1) add a note to the doc that if `state` is `rename`, use the `maintenance_db` option with another db to connect to.
2) check in our code (though not sure it's worth) if `name` == `maintenance_db` -> `module.fail_json('...')`
3) check if the `target` db exists and `name` doesn't exist -> nothing to do, exit with changed=False.
4) if both the `t

[2021-06-22 06:55] Andersson007 commented on #100
FYI: I'm working on it

[2021-06-22 09:36] Andersson007 commented on #100
https://github.com/ansible-collections/community.postgresql/pull/107 ready for review

[2021-06-22 10:46] Andersson007 commented on #83
Hi @landryb , thank for the issue!
I created a PR (https://github.com/ansible-collections/community.postgresql/pull/108), could you please take a look?
I'd be grateful for review (and manual testing if possible despite having the CI tests).

[2021-06-24 19:57] asifiqbal opened #109 "Add force to DROP Database"
##### SUMMARY

I like to have a force option with postgresql_db to allow drop database.

##### ISSUE TYPE
- Feature data
   `force` option with `postgresql_db`

##### COMPONENT NAME

    `force: yes`
##### ADDITIONAL INFORMATION

https://www.postgresql.org/docs/current/sql-dropdatabase.html has **FORCE** option available
It allows to drop a database without care for active sessions to it

[code]

[2021-06-24 21:06] asifiqbal commented on #109
Looks like FORCE is only available in Postgresql 13.
Postgresql 12 and earlier has no force option, but dropping all sessions and then drop database is possible.

[2021-06-25 07:53] Andersson007 commented on #109
@asifiqbal hi, thanks for the feature request, sounds good to me!
1. BTW i implemented `rename` state for the postgresql_db module https://github.com/ansible-collections/community.postgresql/pull/107. If you take a look and provide feedback, it would be great
2. Also added a possibility to dump restore using the directory format https://github.com/ansible-collections/community.postgresql/pull/108

[2021-06-25 20:06] asifiqbal commented on #109
Hi Andrew,

I really appreciate you added the rename feature. I am not quite sure of
the process to provide feedback. Is there a way I could test the rename
locally?
Sorry I am good at what I like to have but need to learn how to do the
local test and provide feedback :-)

Thanks for your help,
Asif

On Fri, Jun 25, 2021 at 3:53 AM Andrew Klychkov ***@***.***>
wrote:

--
Asif Iqbal
PGP Key: 0xE626

[2021-06-29 07:20] Andersson007 commented on #109
@asifiqbal hi Asif,
We have a guide who to test a PR locally https://github.com/ansible/community-docs/blob/main/test_pr_locally_guide.rst
If you have any question, please ask

[2021-06-29 07:21] Andersson007 commented on #109
I took part in creating it, so if there are any clarifications needed, we could fix the guide on the spot:)

[2021-06-30 09:26] Andersson007 commented on #109
FYI if you get interested in adding this feature yourself, we also have a quick start guide there https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst for people unfamiliar with collection development (and with development via GH in general). If yes, please put this explicitly here. I still didn't start and if anyone pick it up, I'd be happy to help if needed.

[2021-06-30 15:03] asifiqbal commented on #109
On Tue, Jun 29, 2021 at 3:20 AM Andrew Klychkov ***@***.***>
wrote:

Hi Andrew,

I am not sure how to use the postgresql_db from PR branch into my code.

This is what I tried so far

---
- hosts: localhost
  connection: local

  tasks:
    - name: rename a database
      postgresql_db:
        name: dvdrental
        state: rename
        target: dvdrental2

TASK [rename a database]
**************

[2021-06-30 17:46] Andersson007 commented on #109
@asifiqbal hi Asif, have you tried to use FQCN `community.postgresql.postgresql_db:` instead of `postgresql_db:`?

[2021-06-30 21:25] asifiqbal commented on #109
On Wed, Jun 30, 2021 at 1:46 PM Andrew Klychkov ***@***.***>
wrote:

I have tried FQCN and still get the exact same error. Here is the output
and the playbook

https://dpaste.org/vtuH/slim

Thanks,
Asif

--
Asif Iqbal
PGP Key: 0xE62693C5 KeyServer: pgp.mit.edu
A: Because it messes up the order in which people normally read text.
Q: Why is top-posting such a bad thing?

[2021-07-01 05:13] Andersson007 commented on #109
@aminvakil any ideas?

[2021-07-01 05:51] aminvakil commented on #109
@asifiqbal Thanks for testing locally!
Can you please share with us output of `ansible-config dump --only-changed`?

[2021-07-01 05:58] aminvakil commented on #109
Sorry, github has hidden your answer by default and I missed it.

[code]
Can you confirm you have cloned repository under one of these folders in correct path?
For example mine looks like this:
[code]
And I have cloned community.general repository in `~/dev/ansible/collections/ansible_collections/community/general`.

Exactly how it has been written in https://docs.ansible.com/ansible/devel/referen

[2021-07-01 05:59] felixfontein commented on #109
The output of `ansible-galaxy collection list` would also be of interest. Potentially another copy of community.general comes before the checked out git copy in the search path.

[2021-07-01 14:10] asifiqbal commented on #109
Yes I do have two community.postgresql and it is probably using the one
that does not have rename state defined.

# /Users/aiqbal/ansible_collections
Collection           Version
-------------------- -------
community.postgresql 1.4.0

# /usr/local/lib/python3.9/site-packages/ansible_collections
Collection                Version
------------------------- -------
amazon.aws                1.3.0
ans

[2021-07-02 09:03] aminvakil commented on #109
Note the difference between
`~/dev/ansible/collections` and `~/dev/ansible/collections/ansible_collections/community/general`
**AND**
`~/ansible_collections` and  `~/ansible_collections/community/postgresql/`.

You must either put `~` in `COLLECTIONS_PATHS` which I do not suggest, or create a collections folder in your home, move `ansible_collections` to that and ...

[2021-07-02 15:23] asifiqbal commented on #109
I moved the ansible_collections into a different folder and updated the
path in ansible.cfg.

Now the rename works like a charm! awesome job guys!

Thanks,
Asif

On Fri, Jul 2, 2021 at 5:03 AM Amin Vakil ***@***.***> wrote:

--
Asif Iqbal
PGP Key: 0xE62693C5 KeyServer: pgp.mit.edu
A: Because it messes up the order in which people normally read text.
Q: Why is top-posting such a bad thing?

[2021-07-03 18:25] Andersson007 commented on #109
@asifiqbal thanks for the feedback! @aminvakil @felixfontein thanks for helping! I think it's worth adding a section about trouble shooting.
@asifiqbal do you think you can take a look to add the force drop yourself? (If you have no time / wish, I could, no problem) https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst

[2021-07-03 18:32] #83 closed

[2021-07-03 18:33] Andersson007 commented on #83
@landryb thank you for the issue and review. I think I'll release the collection within a month

[2021-07-03 22:34] asifiqbal commented on #109
I can give it a try. I think you send me the procedure on how to?

Thanks,
Asif

On Sat, Jul 3, 2021, 2:25 PM Andrew Klychkov ***@***.***>
wrote:

[2021-07-03 22:35] asifiqbal commented on #109
Never mind. The link was in your last email.

On Sat, Jul 3, 2021, 6:33 PM ***@***.***> wrote:

[2021-07-06 06:04] Andersson007 commented on #109
@asifiqbal sorry for the late reply. There are public holidays in my country. I'll get fully available since tomorrow. Yes, it's a quick start guide. If any questions, please let us know here.

[2021-07-06 08:47] skilyazhnev opened #110 "Wrong "changed state" with some value (postgresql_set)"
##### SUMMARY
track_activity_query_size the parameter incorrectly processes the dimension of the value in bytes.
When I define track_activity_query_size in bytes (2048B) it is incorrectly defined in kilobytes  (2kB),
and call changed state in step

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_set

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION

[2021-07-06 09:58] #100 closed

[2021-07-07 14:44] Andersson007 commented on #110
@skilyazhnev thanks for reporting this!
I checked - the bug exists. The module always report changed=True.

Not sure when I can fix it. If anyone wants, I'd be happy to review (if you decide to start, please put it here to avoid working in parallel).

We have a [quick start guide](https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst) explaining how to set up everythi

[2021-07-07 18:45] 4n70w4 opened #111 "All ok local but nothing happens in production"
##### SUMMARY

I run `community.postgresql.postgresql_user` in production but after 10 min of waiting nothing happens.

![image](https://user-images.githubusercontent.com/38257723/124812943-ef594880-df6c-11eb-85b4-416272dc5df2.png)

![image](https://user-images.githubusercontent.com/38257723/124811232-e8c9d180-df6a-11eb-9621-ba490adfd566.png)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

c

[2021-07-08 06:03] Andersson007 commented on #111
@4n70w4 hi, thanks for reporting the issue. How about other modules (not from `community.postgresql`)? Did you try the `setup` module for example? At first glance, this looks like something connection related, like a firewall issue.

[2021-07-08 07:00] skilyazhnev commented on #110
@Andersson007  I try fix this, but i don't have experience in PR

[2021-07-08 07:19] 4n70w4 commented on #111
I don't have firewall. At least I haven't installed or configured it.  May be only something by default.
`community.mysql.mysql_user` works ok.

[2021-07-08 08:33] Andersson007 commented on #111
@4n70w4 thanks for the feedback. Could you please try also `postgresql_info` module?

[2021-07-08 08:41] 4n70w4 commented on #111
`postgresql_info` also works local and infinite waiting on prod.

Probably there really is a problem with the connection to the postres. I would like the module to report this instead infinite waiting.

local:
![image](https://user-images.githubusercontent.com/38257723/124889593-eb1a4300-dfdf-11eb-8f11-5ef33481331e.png)

![image](https://user-images.githubusercontent.com/38257723/124889800-19981e0

[2021-07-08 08:48] Andersson007 commented on #111
@4n70w4 thanks for checking. Please let us know results of your investigation (even if you don't find the root of the problem). Thank you

[2021-07-08 08:50] Andersson007 commented on #111
(also if you know python and find a solution when investigating (maybe there's a timeout option for the DB driver or something, we have a quick start guide [here](https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst))

[2021-07-08 10:56] Andersson007 commented on #110
@skilyazhnev we tried to explain the whole process step by step in the guide https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst. If there are any question appear while reading it, please ask

[2021-07-08 12:12] 4n70w4 commented on #111
All easy! Need use `127.0.0.1` instead `localhost`. `localhost` resolved to `::1` instead `127.0.0.1`.
I don’t know why, I didn’t configure it. Perhaps it was configured by the provider. Or the side effect of something.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

I run postgrs in docker swarm with port forwarding and connect to them from host.

[code]

But that's not all!

If I replac

[2021-07-08 13:31] Andersson007 commented on #111
Cool, thanks for the feedback!
Would be nice to add a note to the documentation of the `login_host` option, something like "- If you have connection issues when using C(localhost), try to use C(127.0.0.1) instead." or something else short but informative.
I think it would make users life easier.
Would you like to raise a PR for that?
I think it's possible to change the `plugins/doc_fragments/postg

[2021-07-13 11:10] Andersson007 commented on #13
I'm gonna release c.postgresql 1.4.0 now

[2021-07-13 11:55] Andersson007 commented on #13
`community.postgresql` 1.4.0 has been released

[2021-07-13 12:04] Andersson007 commented on #100
FYI: I've just released `community.postgresql 1.4.0` that includes this feature. Available to install via `ansible-galaxy` or directly on Galaxy https://galaxy.ansible.com/community/postgresql. Thanks!

[2021-07-13 12:05] Andersson007 commented on #83
FYI: I've just released `community.postgresql 1.4.0` that includes this feature. Available to install via `ansible-galaxy` or directly on Galaxy https://galaxy.ansible.com/community/postgresql. Thanks!

[2021-07-15 09:10] #111 closed

[2021-07-15 09:11] Andersson007 commented on #111
@4n70w4 thanks for reporting this! I added the note to the doc, I hope it will help.

[2021-07-15 12:20] Andersson007 commented on #109
@asifiqbal if you have any questions, I'd be happy to help.
It may be important that we don't have postgresql-13 in CI so feel free to skip CI test part and I'd be also happy to test the future PR manually.
Also if the situation changes on your side (e.g. no time for that or something else), please let us know.
P.s. no rush with this.

[2021-07-15 13:02] asifiqbal commented on #109
On Thu, Jul 15, 2021 at 8:20 AM Andrew Klychkov ***@***.***>
wrote:

Hi Andrew,

I am honored for the opportunity! I still like to give it a try. I started
a little bit but dragged way into other priorities.
If I am not anywhere close by next week I will hand it over to you.

Again, thanks for this opportunity.

--
Asif Iqbal
PGP Key: 0xE62693C5 KeyServer: pgp.mit.edu
A: Because it messes up the o

[2021-07-15 13:21] Andersson007 commented on #109
Hi Asif, ok sure, take your time! Just if anything changes, please let us know and feel free to ping us here when needed.
And remember to skip the "adding integration tests" part in the guide as I mentioned not to waste time.

[2021-07-15 15:42] elmanolito opened #117 "postgresql_user applying changes in check mode"
##### SUMMARY

I am currently creating a playbook to configure a postgresdb running on kubernetes and am facing unwanted behaviour with the dry run of the user provisioning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_user

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS `11.2.3`
Kubernetes `v1.16.3` o

[2021-07-16 06:32] Andersson007 commented on #117
@elmanolito hi, thanks for reporting this!
So, just to be sure I understand correctly, according to the description:
1. You didn't have the user in the DB
2. You ran the playbook with `--check`
3. The user was actually created

Correct?

[2021-07-16 07:58] elmanolito commented on #117
@Andersson007 yes, that is correct.

[2021-07-16 08:32] Andersson007 commented on #117
1. I ran this (community.postgresql 1.4.0 and i don't think we changed something related):
[code]

2. Ran the playbook twice with `--check`. Reported that the state has been changed in both the cases as expected.
[code]

3. Ran the command 1 again
[code]

4. Did the same with loop - same result.

5. I don't think login params affect somehow because they are used only in the connection function but

[2021-07-19 08:23] Andersson007 commented on #117
@elmanolito thanks for checking!
Could you also please:
1. Try to use `check_mode: yes` with this task instead of the CLI arg
2. Is there a chance to test this with the latest ansible-core?

Thank you

[2021-07-25 22:10] asifiqbal commented on #109
On Thu, Jul 15, 2021 at 8:20 AM Andrew Klychkov ***@***.***>
wrote:

Hey Andrew,

So to force drop, I need to drop all existing connections to the database
first. And the syntax is different between 9.2 and above compare to 9.1 and
below.

I like to add a db_dropconn function in plugins/modules/postgresql_db.py
but is there a way you guys already do version check or should I add a sql
query for th

[2021-07-25 22:23] asifiqbal commented on #109
I suppose I can use cursor.connection.server_version? .. the version number
comes weird! My 9.6.22 comes in as 90622. I suppose 9.2 will be 90200 and
9.1 will be 90100 ?

Thanks,
Asif

On Sun, Jul 25, 2021 at 6:10 PM ***@***.***> wrote:

--
Asif Iqbal
PGP Key: 0xE62693C5 KeyServer: pgp.mit.edu
A: Because it messes up the order in which people normally read text.
Q: Why is top-posting such a bad th

[2021-07-26 09:02] Andersson007 commented on #109
Hi Asif! Thanks for the PR!
I already put some comments in there. Didn't notice your new comments here.
I'm hanging out in the `ansible-community` Libera.Chat channel.
You can use the `LooseVersion` function, e.g.
[code]

[2021-07-26 09:03] Andersson007 commented on #109
my IRC nick is `andersson007_`. You can also send a direct message to me there

[2021-07-28 05:40] Andersson007 opened #120 "Change server version handling in postgresql_slot module"
##### SUMMARY
There's the line:
`if self.cursor.connection.server_version < 96000`

Which should be `90600`, i think, because of https://www.postgresql.org/docs/current/libpq-status.html#LIBPQ-PQSERVERVERSION

NO tests needed

Thanks @asifiqbal  !

##### ISSUE TYPE
- Bug Report

postgresql_slot

[2021-07-28 05:40] Andersson007 commented on #120
@asifiqbal would you like to pick it up?

[2021-07-30 18:24] zyitingftnt commented on #117
I also have the same issue. Based on my test and in my situation, it happened to any pgsql user whose privilege is set to a value other than ALL.

For example, in my case, the pg user which keeps reporting changed state is the one with **privilege = pg_stat_database:SELECT**.

**my ENV:**
community.postgresql version 1.4.0 (I also test in old verion 1.1.1, the reason why I upgraded in the hope to

[2021-08-09 09:07] Andersson007 commented on #117
@zyitingftnt hi, thanks for the feedback! Sorry for the late response, was afk throughout last week.

Could you please:
1. Provide the full task
2. Elaborate a bit more on the details

As we can see @elmanolito doesn't pass any `priv:`. Do I understand correctly that you get this (the user will be actually created in check_mode) only when you pass the `priv: blabla` parameter and which is not set

[2021-08-09 16:10] zyitingftnt commented on #117
@Andersson007. correct. If I set priv: ALL, then problem goes away. If I set priv to other value other than ALL, then it keeps showing "changed".

Here is my playbook
[code]

the playbook is calling another task postgresql_manage_user from a role called postgresql, the task file of the role is below:
[code]

and the variable is defined in the group_vars as below, the user1 stay idempotent, but not

[2021-08-10 10:55] Andersson007 commented on #117
@zyitingftnt thanks for the feedback!
Can this be another issue?
If i understand correctly, the issue author originally reported that after he/she ran the module in `check_mode`, the user was actually created in the database.
If this is another issue, could you please create a separate one?

[2021-08-10 11:53] elmanolito commented on #117
Hey, thank you all for the feedback. Unfortunately I didn't have any time to further try anything you suggested as I was also forced to continue with this issue still being around. Good thing it was not a show-stopper and just an inconvenience.

I will definitely try and report back.
Thanks guys and gals.

[2021-08-10 18:51] zyitingftnt opened #122 "postgresql_user not idempotent when user privilege set to pg_stat_database:SELECT"
##### SUMMARY
postgresql_user module keeps reporting "changed" state for existing postgresql user whose privilege set to **pg_stat_database:SELECT**

However, if I set privilege value to **ALL**, then problem goes away.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_user module

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2021-08-10 18:53] zyitingftnt commented on #117
Ok, I will raise a bug report then. But for me, this is a critical issue since this breaks the idempotency which is the key principe of Ansible tool.

[2021-08-11 09:03] Andersson007 commented on #122
@zyitingftnt thanks for the issue! I'll try to reproduce this in our integration tests ASAP

[2021-08-11 10:01] Andersson007 commented on #122
I reproduced this, the bug exists.
I added:
[code]
and the second assert fails. Same result with `pg_stat_database:UPDATE`.
@zyitingftnt thanks!

[2021-08-11 10:02] Andersson007 commented on #122
@tcraxs you have experience in working with the priv-related stuff, do you have any ideas why this happens?
Any help with fixing the bug would be much appreciated.

[2021-08-13 06:36] Andersson007 commented on #122
i investigated a bit:
1. Run the same in ansible 2.9 - same result
2. Looked through the backports - nothing related was backported

This means that the bug was there for years... Strange that nobody reported this earlier

[2021-08-13 07:56] Andersson007 commented on #122
i figured out why, preparing the answer now

[2021-08-13 09:08] Andersson007 commented on #122
@zyitingftnt the table is the key in this case.
If a schema is not passed, the module uses `public` by default when getting current grants.
The module would use the following query to get grants in our case:
[code]
And it will return nothing because the schema of `pg_stat_database` is `pg_catalog`.
If you pass `pg_catalog.pg_stat_database:SELECT` instead of `pg_stat_database:SELECT` everything sho

[2021-08-13 09:13] Andersson007 commented on #122
So nothing actually strange that nobody reported it so far because this is quite a corner case. In most cases everything works perfect when users omit the schema part.

[2021-08-13 09:18] zyitingftnt commented on #122
@Andersson007 You rocks! I just tried your solution by using the` pass pg_catalog.pg_stat_database:SELECT` instead of `pg_stat_database:SELECT`, it is idempotent now! Thank you very much, the idempotency is crucial for me.

So, if i understand correctly, when setting the value to priv, I need to specify the schema along with the table?

[2021-08-13 09:22] Andersson007 commented on #122
@zyitingftnt you're welcome! yeah, when the schema is not `public`.
So i think we can merge the PR and close the issue?

[2021-08-13 09:23] zyitingftnt commented on #122
Yeah, I think so :) thanks again!

[2021-08-13 09:26] Andersson007 commented on #122
If you approve the PR it would be nice: "Files changed" tab above the description -> "Review changes" green button -> "Approve".
Thanks for the issue, it helped clarify the doc and invent a very useful return value which is very helpful for debugging!

[2021-08-13 09:31] #122 closed

[2021-08-20 06:23] zyitingftnt opened #127 "explicitly set "no_log: false" not taken into consideration by postgresql_user"
##### SUMMARY
when explicitly set no_log to false, the postgresql_user module seems not take it into consideration.

This is important in the situation where the default value is set true to mask sensitive information but set to false during password troubleshooting without turning on too much debug information.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`postgresql_user`

##### ANSIBLE

[2021-08-20 18:26] keithf4 opened #129 "Better handling of PostgreSQL extension versioning"
##### SUMMARY
Better support PostgreSQL extension version handling to support arbitrary naming and downgrades

##### ISSUE TYPE

Feature Request

##### COMPONENT NAME
postgresql_ext module

##### ADDITIONAL INFORMATION
Our organization is still running Ansible 2.9 and we haven't made the full jump to collections and using Galaxy yet. So when testing the installation of PostgreSQL with PostGIS, we

[2021-08-23 05:44] Andersson007 commented on #129
@keithf4 thanks for reporting the issue! I'll try to review the proposal today later or tomorrow.

[2021-08-23 08:28] Andersson007 commented on #129
@keithf4 the suggestion sounds reasonable to me.
If you know how the version handling can be improved without introducing breaking changes (i.e. current users will get nothing unexpected after the next release), please go ahead. Thanks!

[2021-08-24 07:19] Andersson007 commented on #127
@zyitingftnt hi, thanks for reporting this!
It looks like this is out of scope of the collection as the `login_password` option uses `no_log=True` mechanism that's handled internally by `ansible-core`, not by the module itself.
Have you tried to adjust https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_DEBUG ?

[2021-08-24 21:50] zyitingftnt commented on #127
@Andersson007 Hey, thanks for looking at this :) Yes, I've actually also tried to enable debug too in AWX equivalent to -vvv but seems not working. Ok I can open a bug report to ansible-core and link it from here.

[2021-08-25 04:58] Andersson007 commented on #127
@zyitingftnt thanks!

[2021-08-26 13:17] sebasmannem opened #131 "postgresql_query has no option creates and no option removes"
##### SUMMARY
the shell module (and some other generic modules) have an option creates: and an option removes:.
- creates: a filename, when it already exists, this step will not be run.
- removes: a filename, when it does not exist, this step will not be run.
This helps to easily make using this module (somewhat) idempotent.
We could add these options to postgresql_query too:
- creates: a query, w

[2021-08-27 07:48] mnietz opened #132 "Grant on administrative function pg_start_backup"
##### SUMMARY

I'm not able to grant execute rights to pg_start_backup function to any role using postgresql_privs Module. Please find a sample playbook and the exception below.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04 (Ansible Host). Debian 10 (Postgresq Host) with Postgresql 11

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESU

[2021-08-31 13:56] Andersson007 commented on #132
@mnietz hello, thanks for reporting the issue!

1. Could you please first try to change `pg_start_backup(text,boolean,boolean)` to `pg_start_backup(text:boolean:boolean)` and run again?

2. If it doesn't help, is there a chance you install and use the latest version of the `community.postgresql` collection (2.9 works with the collections as well) and run your playbook with it. Here's a [tutorial](

[2021-08-31 14:09] mnietz commented on #132
@Andersson007 : Thank you! Using colons instead of comma solved the issue

[2021-08-31 14:09] #132 closed

[2021-09-01 05:11] Andersson007 commented on #132
@mnietz you're welcome!

[2021-09-01 05:14] Andersson007 commented on #132
I see now that there are no examples. Thank you for raising the issue, I'll create an issue to add examples!

[2021-09-01 05:18] Andersson007 opened #133 "postgresql_privs: Add examples of granting privs to functions"
##### SUMMARY
Add examples of granting privs to functions to postgresql_privs module. See https://github.com/ansible-collections/community.postgresql/issues/132  for details.

For newcomers, there's a [quick start guide](https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst) how to set up a dev environment and submit a PR . You can also add examples and submit a PR di

[2021-09-01 05:18] Andersson007 commented on #132
https://github.com/ansible-collections/community.postgresql/issues/133

[2021-09-01 10:36] betanummeric opened #134 "pg_hba.conf: add parameter to keep rule-specific comments next to the rule"
##### SUMMARY
My `pg_hba.conf`s often contain comments in the same line as rules, like this:

[code]

Currently, the module `community.postgresql.postgresql_pg_hba` would move those comments to the beginning of the file, which removes the comment-to-rule relation. To optionally preserve that and to optionally add such comments, I propose to introduce two new parameters to the module:

- _keep_comm

[2021-09-01 13:24] phemmer opened #136 "postgresql_ext can't handle '0' version"
##### SUMMARY

The [pguint extension](https://github.com/petere/pguint) declares its version as `0`. This seems to confuse the `postgresql_ext` module as it thinks the extension doesn't exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_ext

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10/Buster
Po

[2021-09-01 13:47] phemmer opened #137 "extension version without decimal causes postgresql_info exception"
##### SUMMARY

When an extension is installed that doesn't have a `.` in the version, the `postgresql_info` module throws an exception.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10/Buster
PostgreSQL 13

##### STEPS TO REPRODUCE

1. Install an ext

[2021-09-01 13:48] hunleyd commented on #136
I believe @keithf4's proposal in #129 would address this

[2021-09-01 14:48] phemmer commented on #137
This looks like it'd be trivial to fix, however there are several approaches, none of them good.

Ultimately the problem is that `postgresql_info` is assuming that all extension versions follow a convention containing major and minor components separated by decimal (`.`). This is not the case. In addition to this example which only has a single component, other plugins may have 3 or more component

[2021-09-01 15:00] Andersson007 commented on #137
@phemmer hello, thank you for reporting this and welcome to the project!

I'll take a closer look tomorrow.

Quick thoughts:
1) we can check the length after splitting and handle this case properly, e.g. put `None` to minor part.
2) in any case we can add a parameter called `raw` to return versions as they are. It wouldn't be a breaking change

If you want to fix this, we have a quick start guide

[2021-09-01 16:08] Andersson007 commented on #137
@phemmer after evaluating things, could you please put it in here explicitly if you have time to fix this or not (to avoid working in parallel). Thank you:)

[2021-09-02 23:41] phemmer commented on #137
Sorry for delay, I doubt I'll have time to fix and submit a PR. But will let you know if that changes.

[2021-09-03 06:23] Andersson007 commented on #137
@phemmer no problem! Thanks for the feedback. OK, if anyone wants, feel free to pick it up (put your intention explicitly in here).

[2021-09-06 10:20] Andersson007 commented on #137
I'm looking (btw it's not as easy as i thought)

[2021-09-06 11:39] Andersson007 commented on #137
https://github.com/ansible-collections/community.postgresql/pull/138

[2021-09-09 13:27] marcflausino opened #139 "Add TimeZone example in doc"
##### SUMMARY
Hello,

I lost a few hours trying to understand why i got an error like '**No such parameter**' while setting '**timezone**' with **postgresql_set**.

Finally i ended up on this post : [https://github.com/ansible-collections/community.postgresql/issues/41](https://github.com/ansible-collections/community.postgresql/issues/41)

I'm sure, many will have the same troubleshoot with that

[2021-09-09 14:21] Andersson007 commented on #139
@marcflausino thanks for reporting the issue!

We could:
1) add something like `- Pay attention that parameters are case sensitive.` to the `name:` option.
2) an additional example to the EXAMPLES block

@marcflausino would you like to submit a quick PR? You can do it via GH web interface (find the file in `plugins/modules/postgresql_set.py` -> Edit) or via a classic method using this [tutorial](h

[2021-09-09 14:23] Andersson007 commented on #139
@marcflausino the DOCUMENTATION and EXAMPLES blocks in `plugins/modules/postgresql_set.py` is all that you need to improve.

[2021-09-09 16:59] marcflausino commented on #139
hi @Andersson007 , ok i will make the PR

[2021-09-10 05:11] Andersson007 commented on #139
closed via https://github.com/ansible-collections/community.postgresql/pull/140

[2021-09-10 05:11] #139 closed

[2021-09-10 08:35] #136 closed

[2021-09-10 08:35] #137 closed

[2021-09-10 08:41] Andersson007 commented on #129
@keithf4 don't forget to update the main branch in your fork before starting working on this because there were related changes merged https://github.com/ansible-collections/community.postgresql/pull/138

[2021-09-10 12:40] #134 closed

[2021-09-10 14:32] mator commented on #39
how do I check that postgresql is fips enabled or how do i install fips enabled postgresql ?

[2021-09-10 17:15] hunleyd commented on #39
PG isn't 'FIPS-enabled'. The OS that PG runs on is (or isn't). On RHEL-based systems, you can `cat /proc/sys/crypto/fips_enabled`, `sysctl crypto.fips_enabled`, or `fips-mode-setup --check`

[2021-09-13 14:09] #120 closed

[2021-09-21 05:48] dericcrago commented on #30
[AnsibleFest]: https://www.ansible.com/ansiblefest
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder - [AnsibleFest] and [Ansible Contributor Summit] are 1 week away!**

I

[2021-09-22 10:30] Andersson007 opened #143 "CI tests against different distro containers are broken"
##### SUMMARY
Presumably because of https://github.com/ansible-collections/overview/issues/45#issuecomment-923507542 :(

Maybe it's time to
1) move to GH Actions
2) default container
3) installing and testing against all supported versions of postgresql instead of distro default ones
4) installing and testing using different psycopg2 versions

In other words, make the CI platform independent but P

[2021-09-24 12:05] SpComb commented on #44
I think the Ansible 2.9 version of this module was able to report the `changed` state correctly, even for PUBLIC privs?

Looking at the code, the `get_status = self.get_schema_acls` seems like it should work as expected for e.g. schemas, and the `return status_before != status_after` reporting looks like it should be able to correctly report the `changed` state:

[code]

However, it seems like the

[2021-09-27 08:06] Andersson007 commented on #30
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 1 of the [Ansible Contributor Summit] and the [Hackathon] start tomorrow (Tuesday, 28 September 2021)!

For more

[2021-09-27 09:05] Andersson007 commented on #110
Looking

[2021-09-27 09:23] Andersson007 commented on #110
I created the PR https://github.com/ansible-collections/community.postgresql/pull/145

[2021-09-28 14:43] #110 closed

[2021-09-30 07:30] #109 closed

[2021-09-30 07:32] Andersson007 commented on #13
i'm gonna release `community.postgresql` 1.5.0 today

[2021-09-30 09:20] Andersson007 commented on #13
`community.postgresql` 1.5.0 has been release (great release, folks!)

[2021-10-01 16:55] jrobison-sb opened #150 "postgresql_privs regression when deleting a user/role"
##### SUMMARY

postgresql_privs should not fail if `state: absent` and the given role does not exist. This used to work as expected in the past.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`postgresql_privs`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I can reproduce the problem on Ubuntu 20.04 and Debian Bullseye

[2021-10-04 14:54] Andersson007 commented on #150
@jrobison-sb hi, thanks for the issue!
Have you tried the `fail_on_role: no` argument? See the [doc](https://docs.ansible.com/ansible/latest//collections/community/postgresql/postgresql_privs_module.html) for details.
(its default is `yes` and it seems that the argument was added a long time ago, long before me, so can't comment on this anyhow).

[2021-10-12 11:21] RetardedRedhaired opened #153 "postgresql_set failed to import psycopg2"
##### SUMMARY
I'm trying to change wal_level to logical and listen_addresses to * using postgresql_set module. But when I run playbook this task fails. Previous task using postgresql_pg_hba module works correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_set

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac

[2021-10-12 13:03] Andersson007 commented on #153
@RetardedRedhaired hi, thanks for reporting this.
postgresql_pg_hba doesn't use psycopg2 connector. All the other modules except postgresql_db when it's state dump/restore use the connector.

So the module fails to import the connector.
1) check if psycopg2 is installed on your system (usually it's done via pip)
2) if it's already installed, please consult the documentation on `ansible_python_inte

[2021-10-12 15:05] RetardedRedhaired commented on #153
Problem was in used Python interpreter. Thanks for helping!

[2021-10-12 15:05] #153 closed

[2021-10-21 06:27] Andersson007 opened #154 "CI: integration testing against all supported Postgres versions"
##### SUMMARY
- Currently we tests using AZP and several distros with default Postgres versions available for each distro. See `.azure-pipelines/azure-pipelines.yml` file.
- Postgres 14 has been recently released with some breaking changes and we don't have testing against it yet.

**Solution:**
- Moving to GitHub actions
- Testing using one distro against all supported Postgres versions + maybe 9

[2021-10-28 10:34] klando opened #159 "Review integration testing tasks with GHA (for the all pg version matrix on ubuntu)"
also please pay attention to the tasks with the following conditions:
[code]

_Originally posted by @Andersson007 in https://github.com/ansible-collections/community.postgresql/issues/158#issuecomment-951581433_

[2021-11-10 15:02] klando commented on #127
Hi @zyitingftnt
do you have updates for this issue or can it be closed (assuming this bug is not relevant for this collection) ?
Tks

[2021-11-10 23:05] zyitingftnt commented on #127
@klando Hi, I've actually opened up an issue with ansible-core but it seems for them that this is related to the module itself, there is the reference, what's your thought? #https://github.com/ansible/ansible/issues/75565

[2021-11-11 12:52] klando commented on #127
@zyitingftnt tks for the feedback, indeed the ansible answer on the issues are of interest and outline that some PostgreSQL modules need attention.

From a security point of view, I read this reference: <https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_best_practices.html#module-security>

And it appears on a first «grep series» that:

-> is not respected ! Deserve its own issu

[2021-11-12 12:13] Andersson007 commented on #127
@klando @zyitingftnt thank you for the input!
1. About `subprocess` - Yeah, i know that we have to use `run_command`. I've no idea why it was implemented that way. The related code is very old. Maybe it happened before `run_command` was introduced. Yeah, the issue would be fine, thanks for spotting!
2. About `sanitize_keys()` - i'm not familiar with that stuff. In short, if you see ways how to sol

[2021-11-12 14:28] gundalow opened #161 "Refactor module arguments: Remove `[NO]` prefix"
##### SUMMARY
Thanks to @Oloryn and @ssbarnea for reporting this issue and digging into the code.

We need to refactor the module arguments in some of the community.postgresql modules, rather than using the `[NO]SUPERUSER` shorthand as this:
1. isn't how we normally document Ansible module's parameters
2. breaks [vscode-ansible](https://github.com/ansible/vscode-ansible)'s parsing of module argume

[2021-11-12 14:29] Andersson007 commented on #161
Looking, thanks for reporting!

[2021-11-15 03:42] ilyaevseev commented on #15
Still actual. No such problem with mysql module, but our devteam prefers postgresql and needs column-based permissions :-(

[2021-11-15 22:30] keithf4 commented on #129
PR has been submitted. Still working on updating the internal docs around the function changes. Could also use some help with adding some unit testing if anyone with more experience in doing that with ansible has some time.

[2021-11-16 12:02] #161 closed

[2021-11-22 08:33] Andersson007 commented on #15
It wasn't super hard to fix in c.mysql but i have looked at the related `postgresql_user` code a couple of times and it turned out to be more tricky / dangerous:) If anyone is brave enough for that, i'd be happy to review a corresponding patch though:)

[2021-11-22 08:35] Andersson007 commented on #129
@keithf4 thank you much for working on this! Sorry for the later reply, was on PTO. I'll try to take a look as soon as i can.

[2021-11-22 21:46] klando commented on #154
https://github.com/ansible-collections/community.postgresql/pull/166 is covering all PostgreSQL versions on ubuntu-2004

[2021-11-24 09:39] #129 closed

[2021-11-24 09:42] Andersson007 commented on #13
I'm gonna release c.postgresql 1.6.0 now

[2021-11-24 10:29] Andersson007 commented on #13
`community.postgresql` 1.6.0 has been release. Contains doc fixes and https://github.com/ansible-collections/community.postgresql/pull/163.

[2021-12-09 11:45] MichaelDBA opened #168 "Where is the task to install Postgres?"
##### SUMMARY
Where is the task to install postgres binaries and initialize a cluster?

[2021-12-10 06:45] Andersson007 commented on #168
@MichaelDBA hi, no, there isn't. This collection only contains modules at the moment but it would be great to expand it with Ansible roles covering basic things like you mentioned.

[2021-12-10 10:55] Andersson007 commented on #168
@tcraxs @kostyantin-nemchenko @hunleyd @klando what do you think if this collection should focus only on modules or maybe it should provide roles also?

[2021-12-10 11:18] tcraxs commented on #168
@Andersson007 I would only focus on modules.
There are already some very complex roles in [galaxy](https://github.com/ANXS/postgresql) which also searching for maintain help.
Also if I look to the [zabbix community](https://github.com/ansible-collections/community.zabbix) stuff, this looks really nice, but it is also a lot of effort for "only" having simple server/client and proxy installation (an

[2021-12-10 11:18] klando commented on #168
I have a plan to propose roles to install, configure, initdb, tune, backup, restore, setup (physical/logical) replica, and so on (some will need new modules probably, pg_basebackup  "mapping" for example)
It can become very complex so probably it'll need to start with a limited scope (i.e. latest RedHat and Debian only for example).

[2021-12-10 11:24] klando commented on #168
Honestly I found c.zabbix very useful, and I put some effort in it.
Major distinction: c.zabbix roles (but also modules) maintenance is a bit painful because regression where not very documented or not clearly mentioned upstream. PostgreSQL is very clean in this area and there will be no surprise.

[2021-12-10 13:32] hunleyd commented on #168
I could go either way. It would be a fairly heavy lift though if we went down that path. It would have to be well defined and we'd need some lengthy discussions (for example even if we limit it to RH/Debian as @klando suggests, are we installing from their default repos or are we installing the PGDG repo and getting things from 'upstream'?).

[2021-12-10 13:58] klando commented on #168
@hunleyd, very good question. And with many items as it is very flexible. I'm thinking already since some time on how to be effective here. I'll very probably propose documentation first and start from that, I'm all in favor of sensible default with minimal changes and also a set of defaults for the common cases (i.e. at least going with PGDG repos)

[2021-12-10 14:08] hunleyd commented on #168
That sounds like a reasonable plan. Let's TIAS ;)

[2021-12-11 13:50] MichaelDBA commented on #168
The galaxyproject role (https://github.com/galaxyproject/ansible-postgresql) seems to handle PG installation rather flexibly allowing for either PGDG or local repo installations.  It has a nice way to customize PG parameters and it never starts or restarts Postgres, only reloads it based on reloadable parameters changing.  Perhaps we can make optional the restart option.

Is it OK to copy parts of

[2021-12-13 12:11] Andersson007 commented on #168
I think it depends on their license (which is different from ours, hard to judge for me as IANAL). We could take some worthwhile ideas from the role but i would avoid copying the code licensed differently.

@tcraxs 's point sounds reasonable. OK, I'm not 100% for or against having basic roles here. IMO:
- we should discuss them one by one before submitting any code
- [like a brainstorming] maybe a

[2021-12-14 20:40] marcosdiez opened #169 "community.postgresql.postgresql_info does not work in AWS RDS hosted postgresql"
the table `pg_authid` is not available on AWS RDS hosted postgresql.

It just gives the following error: `PostgreSQL said: permission denied for relation pg_authid`

The problem is that in the AWS managed RDS, once can't have the full superuser, just some aws admin user that can't access this table.

It seems that AWS consides this a feature, not a bug, source: https://stackoverflow.com/questions/

[2021-12-14 21:02] MichaelDBA commented on #169
Need to remove references to **pg_audit** and use this function on the OID, pg_catalog.pg_get_userbyid(spcowner) AS "Owner", to get the same info.  This way we can be compatible with AWS and OnPrem.

This should be changed in module,  community.postgresql/plugins/modules/postgresql_info.py.

So for the  case where the SQL is this:
`SELECT s.spcname, a.rolname, s.spcacl FROM pg_tablespace AS s JOIN

[2021-12-14 21:15] MichaelDBA opened #170 "Make this collection AWS-compatible"
##### SUMMARY
Reconstruct some queries to bypass certain PG system tables like **pg_authid**, that are not accessible in AWS.  We use the **pg_authid**  table a lot for getting the name associated with an owner OID number.

##### ISSUE TYPE
- Make this collection AWS compatible.

##### COMPONENT NAME
Right now, I have identified the **postgresql_info.py** module component as where SQL changes are

[2021-12-15 01:02] marcosdiez opened #172 "community.postgresql.postgresql_info is showing the namespaces of "db" variable for every database"
##### SUMMARY

let's say I have :

* `db1`, with namespaces `ns1A` and `ns1B`
* `db2` with namespaces `ns2A` and `ns2B`

whenever I use

[code]

it will print `ns1A` and `ns1B` both as the namespaces of both `db1` and `db2`.
Not only that, `ns2A` and `ns2B` won't be returned at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.postgresql.postgresql_info

##### ANSIBLE VERSION

[c

[2021-12-15 12:41] MichaelDBA opened #174 "Using is_available return variable to determine if PG Ping is success or failure"
I am running the postgresql_ping module in my playbook, and the postgresql server is not running on the target host.  So I expect a failed result.  Instead I just get a warning followed by an OK.  How can I treat the warning as an error or how do I reference the return value, "is_available" which returns false?

ansible-playbook playbooks/check_postgres_roles.yml
-->
[code]

[2021-12-15 15:28] Andersson007 commented on #174
@MichaelDBA please let me know if the solution works.

Also I'm thinking of adding a bool option `fail_on_error`.
@MichaelDBA @tcraxs @hunleyd @klando @kostiantyn-nemchenko @andytom what do you think?

[2021-12-15 15:29] Andersson007 commented on #174
Seems that there's a demand from users for that https://andreas.scherbaum.la/blog/archives/1093-Make-Ansible-postgresql_ping-fail-if-the-database-does-not-exist.html

[2021-12-15 16:33] klando commented on #174
`PQping reports the status of the server. It accepts connection parameters identical to those of PQconnectdb, described above. It is not necessary to supply correct user name, password, or database name values to obtain the server status; however, if incorrect values are provided, the server will log a failed connection attempt.`

So I'm tempted to say that people are wrong not only on Ansible but

[2021-12-15 23:55] marcosdiez opened #175 "It seems to be impossible to create a read only user using postgres_privs"
I need to create a read only user.

The only way I found out to do it was (check the bottom of this `issue`).

It should be simpler. The syntax does not help, ALL_IN_SCHEMA does not always do what it needs, it seems.

[code]

[2021-12-16 06:11] Andersson007 commented on #174
[code]
I like this idea. Maybe a new return value called, say, `status` or something with `OK`, `REJECT`, etc. but we could see what's going on based on error messages returned by `psycopg2` connector.

I'll start with improving the doc today.

[2021-12-17 10:10] krzysztofmo commented on #16
You can use double quotes to escape identifiers. So your example would look something like this:

[code]

[2021-12-17 10:46] Andersson007 commented on #174
Added the examples https://github.com/ansible-collections/community.postgresql/pull/176

[2021-12-17 12:08] MichaelDBA commented on #174
@Andersson007, adding this info to my playbook did the trick.  But if I have a role that invokes this task, is there something I can do when my playbook consists of a role instead of a task to do the same kinda check?
[code]

[2021-12-17 12:17] MichaelDBA commented on #174
Perhaps we can update the example in the documentation for postgresql_ping to add this:
# In the example below you need to generate certificates previously.
# See https://www.postgresql.org/docs/current/libpq-ssl.html for more information.
- name: PostgreSQL ping dbsrv server using not default credentials and ssl
  **# optionally check for return variable, is_available, to determine if we succeed

[2021-12-17 13:41] MichaelDBA commented on #174
@klando states that the purpose of the PG ping is to evaluate the status of a PG cluster, not a specific database within the cluster.  I would state that the purpose is to evaluate the connection to a cluster regardless of parameters provided or the reason it fails. By using my definition of a "connection", we actually add more flexibility to the purpose of this call: to validate connectivity to a

[2021-12-17 13:46] MichaelDBA commented on #174
I changed the title of this issue to something more relevant to the evolving focus here:
Using is_available return variable to determine if PG Ping is success or failure

[2021-12-17 13:48] klando commented on #174
It was not very clear, but I pasted the PostgreSQL documentation related to the output values.

[2021-12-17 13:50] MichaelDBA commented on #174
@klando, gotcha, will edit my comment to reflect that.

[2021-12-20 07:31] #169 closed

[2021-12-20 07:31] #170 closed

[2021-12-20 07:38] Andersson007 commented on #13
@marcosdiez after https://github.com/ansible-collections/community.postgresql/pull/173 is slightly corrected and integration tests added, we could merge it and release `1.6.1`.

[2021-12-20 08:48] Andersson007 commented on #174
@MichaelDBA great idea, added, PTAL, thanks!

[2021-12-28 14:22] klando commented on #174
No, really, PostgreSQL ping connection is not a database existence check and should not be diverted to achieved such goal.

You can also have a DB which exists and you cannot connect to.

* To know if a DB exists you need to connect to any DB and lookup PostgreSQL catalogs.

* To know if you can connect to a DB you need to try to connect to the DB and check the result of the connection to evaluate

[2021-12-28 15:15] MichaelDBA commented on #174
OK, then, I reckon @klando  is saying take out the database name option from the ping call just to see if we can connect or not.  I'm for that.  We can use the postgresql_query task to see if a database exists or not.

[2022-01-03 11:21] #172 closed

[2022-01-14 23:17] jtelcontar opened #180 "postrgresql_query cannot handle .sql file with \n at end of file"
##### SUMMARY
We are using a playbook task to run an SQL file that is generated by a PHP script. The PHP script uses `file_put_contents()` to create the .sql file based upon an array of queries (could be any number of queries). All queries end with a semicolon. The file is generated with a `\n` at the end of the file every time, and there is no way to generate the file without it. Whenever I run t

[2022-01-17 06:03] Andersson007 commented on #180
@jtelcontar thanks for reporting this! Have you tried to use `as_single_query: yes` with the task?

[2022-01-17 11:19] Andersson007 commented on #13
`community.postgresql` 1.6.1 has been released.

[2022-01-17 11:35] Andersson007 commented on #13
@tcraxs @marcosdiez @hunleyd @MichaelDBA ^ is available for installation via `ansible-galaxy` right now and will be included in the next Ansible package release. It contains the fixes for `postgresql_info` including the AWS-related (thanks to @marcosdiez).

Also not having an explicit code approval for https://github.com/ansible-collections/community.postgresql/pull/177, we can't proceed with the

[2022-01-17 16:46] jtelcontar commented on #180
@Andersson007 Thanks for the suggestion!

I just tested with `as_single_query: yes` and the task completed successfully.

When I was reading the Ansible documentation for the postgresql_query module (https://docs.ansible.com/ansible/latest/collections/community/postgresql/postgresql_query_module.html), it seemed like we should keep the value as `no` since we had multiple queries that were semicolo

[2022-01-18 07:55] Andersson007 commented on #180
@jtelcontar thanks for the feedback! Your issue has reminded me that we planned to set `yes` as a default in the next major release, i.e. 2.0.0.
Anyway this is a bug. I'll try to take a look later.
This `path_to_script` option is a source of pain and the module is a good example of not great design...:) My fault among others:)

[2022-01-18 08:10] Andersson007 commented on #180
@jtelcontar could you please try to use the `postgresql_db` module with state `restore` and let me know if it works?

[2022-01-21 08:15] Andersson007 commented on #180
@jtelcontar hanks for offering help! Yes, it would be much appreciated.

[2022-01-26 08:06] Andersson007 opened #184 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-02-04 22:12] jtelcontar commented on #180
@Andersson007 Checking in to see if there are any updates on your end. No worries if not; let me know when would be a good time to circle back around to review any updates. Many thanks!

[2022-02-07 21:01] jtelcontar commented on #180
Awesome, appreciate the info! I'll keep an eye out. :)

[2022-02-08 07:55] Andersson007 commented on #180
cc @tcraxs @hunleyd @jtelcontar
The `path_to_script` option is a source of pain (also the `as_single_query` option has been introduced to mitigate things there). I can see the following options:
1. To leave it as it is but set the default of `as_single_query` as `True` as was planned for the next major release. Here's the PR https://github.com/ansible-collections/community.postgresql/pull/185
2. T

[2022-02-08 13:29] hunleyd commented on #180
As a user, I'd never equate `postgresql_db` with 'run my SQL script', so I'm gonna -1 option 2. So I guess that means I'm +1 on option 1.

Is it worth maybe down the road introducing a new module `postgresql_query_file` and making `postgresql_query` only useful for executing a single query?

[2022-02-08 13:29] DanScharon commented on #180
I'd personally prefer 1), as `postgresql_db` seems to be intended for the restore or initialization of a whole database, whereas `postgresql_query` could run a (set of) scripts on an existing database that maybe add (optional) indexes, tables depending on a set of conditions.

[2022-02-08 15:58] jtelcontar commented on #180
I agree that `postgresql_db` seems intended for restore/initialization of the whole database (and could "scare" people-- will their DB be completely replaced with the handful of queries they are trying to run, or leave the DB in a weird state?). Which is the main reason I didn't consider it an option for what I was trying to do with a single file that contained updates/inserts.

I do like the idea

[2022-02-09 09:49] Andersson007 commented on #180
Thank you folks!

@jtelcontar if you use `as_single_query: True` only the last query result will be returned. And this had been a default behavior in the past before `query_all_results`, etc. were introduced .. and this mechanism has turned out to be a pain:)

So we also have option 3 - a separate module called `postgresql_query_file` or maybe `postgresql_script`. We could move out all file relate

[2022-02-09 14:40] Andersson007 commented on #180
in addition to the above, if someone reviews https://github.com/ansible-collections/community.postgresql/pull/185, i could release 2.0.0 tomorrow provided that there are no objections

[2022-02-09 19:39] hunleyd commented on #180
+1

Those two seem to be the only ones needed IMHO

 i prefer postgresql_script as the name (since foo.sql is a 'sql script' in my mind).

We need `path` for sure.  I'm not entirely keen on forcing `as_single_query`, but if we don't do that then we should probably have an option to cover ON_ERROR_STOP behavior.  Perhaps I don't understand what's happening when you have a script file with multiple

[2022-02-10 07:18] Andersson007 commented on #180
@hunleyd

When we have `path_to_script` specified:
1) if `as_single_query: yes`, under the hood, we take the whole content of the file with Python's `f.read()` (we don't care about what's inside, a single query or multiple queries) and execute it all at once, i.e. we pass the whole content to the psycopg2 connector. The drawback is that, when there are multiple queries in the file, the connector r

[2022-02-10 08:02] Andersson007 commented on #13
`community.postgresql` [1.7.0](https://github.com/ansible-collections/community.postgresql/blob/stable-1/CHANGELOG.rst) and [2.0.0](https://github.com/ansible-collections/community.postgresql/blob/main/CHANGELOG.rst) have been released. Many thanks to [hunleyd](https://github.com/hunleyd), [klando](https://github.com/klando), [MichaelDBA](https://github.com/MichaelDBA), [marcosdiez](https://github

[2022-02-10 09:52] DanScharon commented on #180
If there's a new module `postgresql_script` I'd personally prefer 1, because if I want results of individual queries I could still use `postgresql_query` and pass those queries instead of a (script) file. For me the whole point of a module `postgresql_script` is to run each script it is fed as a whole and optionally loop over a list of script files.

[2022-02-10 14:19] Andersson007 commented on #180
@hunleyd your welcome!

I've just created a draft PR https://github.com/ansible-collections/community.postgresql/pull/188. Details and the plan in the description.

[2022-02-17 07:16] Andersson007 opened #189 "postgresql_query: deprecate and remove script related options and return values in favor of using postgresql_script module in 3.0.0"
##### SUMMARY
Relates to https://github.com/ansible-collections/community.postgresql/pull/188
Relates to the discussion in https://github.com/ansible-collections/community.postgresql/issues/180#issuecomment-1032610020

`postgresql_query`: deprecate and remove script related options and return values in favor of using `postgresql_script` module in community.postgresql `3.0.0`:
- options: `path_to_s

[2022-02-17 07:31] Andersson007 commented on #13
I'm going to release `community.postgresql` 2.1.0 today.

[2022-02-17 08:41] Andersson007 commented on #13
`community.postgresql` [2.1.0](https://github.com/ansible-collections/community.postgresql/blob/main/CHANGELOG.rst) has been released.

[2022-02-17 10:05] Andersson007 commented on #180
Could anyone please review the bugfix for this particular issue https://github.com/ansible-collections/community.postgresql/pull/192 ?

[2022-02-18 14:42] #180 closed

[2022-02-21 06:01] amossc opened #194 ""database" attribute of "postgresql_schema" being ignored?"
##### SUMMARY
The `database` attribute is being ignored by `postresql.postgresql_schema`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`community.postgresql.postgresql_schema`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Schema `monitoring` crea

[2022-02-21 10:53] Andersson007 commented on #194
@amossc hi, thanks for reporting this!
I've just checked an output from the following task from the integration tests after running it on Ubuntu 20.04:
[code]
where `db_name` is `ansible_db` and it returned (as expected):
[code]
Maybe it's something related to the driver. Which version of the driver do you use?

[2022-02-21 10:56] Andersson007 commented on #194
In addition to the question above, do you get any warnings when running the task?

[2022-02-21 12:24] Andersson007 commented on #194
Created a PR https://github.com/ansible-collections/community.postgresql/pull/196.
@amossc do you have an opportunity to test the PR? It would be really great.
There are two ways:
1. https://github.com/ansible/community-docs/blob/main/test_pr_locally_guide.rst
2. or find the same file in your test vm with ansible where the problem exists, change the code the same way, check if the problem disappea

[2022-02-21 23:01] amossc commented on #194
Thanks for the quick response.
It appears that the problem was that that I was using an old version of the module (1.2.0).
Bumping it to 1.6.0 seems to have solved the problem without having to change the code.

[2022-02-22 07:20] Andersson007 commented on #194
@amossc thank you for the feedback!
Anyway your issue has helped to spot the deprecation.
The PR should prevent unexpected failures in the future when the `database` keyword connection argument support will be removed from psycopg2 (this already doesn't work in psycopg3 as i found out yesterday; it's also a good reminder about implementing psycopg3 support).
So I'll be waiting for you feedback on

[2022-02-22 07:31] codrinh commented on #194
I have the same issue using the following setup, tested your changes and the schemas are created

`ansible [core 2.11.6]
  config file = None
  configured module search path = ['/home/user/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/user/.local/lib/python3.9/site-packages/ansible
  ansible collection location = /home/user/.ansible/colle

[2022-02-22 07:36] Andersson007 commented on #194
@codrinh hi, thank you for the feedback!

Do you mean in the correct database passed through the `database:` argument or in `postgres`?

[2022-02-23 21:34] astrumas opened #198 "community.postgresql.postgresql_ext does not support async"
##### SUMMARY
The `community.postgresql.postgresql_ext` module doesn't appear to support `async`.  I have a task that installs many extensions on many databases which by default runs really slow so I thought it would benefit me to use `async`.

This was originally brought up [here](https://stackoverflow.com/questions/71229595/ansible-task-async-with-poll-0-doesnt-move-on-from-task) and was told it

[2022-02-24 08:53] Andersson007 commented on #198
@astrumas hello, thank you for the PR!

The `async` feature is a core one. In other words, it's implemented not on the module's level (we can't make the modules supporting this, it is supported by Ansible in general).

1. Have you tried to ask the question in the `#users:ansible.im` matrix channel? How to join, see the [communication guide](https://docs.ansible.com/ansible/latest/community/communi

[2022-02-24 11:15] michaelkebe opened #199 "postgresql_privs should allow setting default privileges globally"
##### SUMMARY

postgresql_privs should allow to create global default privileges (without a schema) on a database.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

postgresql_privs

##### ADDITIONAL INFORMATION

Currently it only possible to create default privileges with a schema (which defaults to public, if not set). The PostgreSQL documentation says:

If the `IN SCHEMA schema_name` part

[2022-02-24 11:23] Andersson007 commented on #199
@michaelkebe hello, thanks for reporting this! @tcraxs would you like to take a look?

[2022-02-24 15:36] tcraxs commented on #199
@michaelkebe Thanks for pointing that out. It's true, the code just set `schema = 'default'`, if there is no schema present in the ansible module call.
After a short look, it might not so easy to remove that part, as we rely on that default set in several other calls as well. I will have a look if that could be changed.

[2022-02-24 15:46] astrumas commented on #198
Thanks for your reply and your suggestions

I haven't found anything on the postgres side, but I did try changing the task down to one database and one extension using `async` and the `async_status `module still returned an error that the job didn't exist.  To my understanding I think that means `async `is not supported by the module, as it should return that it was completed or that the job exist

[2022-02-28 07:16] codrinh commented on #194
I cannot reproduce the test as I added / removed lots of ansible parameters and I cannot remember the tested version. please disregard my previous comment

[2022-02-28 08:46] Andersson007 commented on #194
@codrinh thanks for the feedback!

[2022-02-28 08:47] #194 closed

[2022-02-28 09:04] Andersson007 commented on #194
thank you folks!

[2022-02-28 13:37] Andersson007 commented on #13
I'm going to release `community.postgresql` 1.7.1 today

[2022-02-28 14:52] domainfun commented on #180
@jtelcontar:  Just to clarify, ANY text file SHOULD have a line break at the end of the file, i.e. the last line should be terminated properly (otherwise it's an "incomplete line").  It goes without saying that even a file with just one line should end with a line break.  This is actually defined in the [POSIX](https://en.wikipedia.org/wiki/POSIX) standards, see the POSIX definition of a [Line](ht

[2022-03-01 13:21] hunleyd commented on #13
`community.postgresql` [1.7.1](https://github.com/ansible-collections/community.postgresql/releases/tag/1.7.1) and [2.1.1](https://github.com/ansible-collections/community.postgresql/releases/tag/2.1.1) has been released. Many thanks to [Andersson007](https://github.com/Andersson007), [amossc](https://github.com/amossc), and [telcontar](https://github.com/jtelcontar)!

[2022-03-03 00:51] caseyandgina opened #207 "postgres_privs sets default privilege for types when it should only be doing so for tables"
##### SUMMARY
When using `postgres_privs` to create a default permission for select access on tables, Ansible is also creating a default permission for usage access on types, which I don't think should be happening.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.postgresql.postgresql_privs

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

[2022-03-03 15:25] hunleyd commented on #207
@Andersson007 looking at the code, it seems we should change:
[code]
to
[code]
yes? AIUI, we would only need to grant usage on types if the user was granting permissions to create future relations using those types.

[2022-03-04 09:27] Andersson007 commented on #207
@caseyandgina hi, thanks for reporting this!
@hunleyd i think we should

Looking at the doc, we can see:
[code]

The questions that come to mind are:
1) Do we really need this option? I've no idea. The description sounds like it's for backwards compatibility only. It would be a breaking change but can we deprecate it and remove in 3.0.0?
2) If we need it, we should probably change the `default=Tru

[2022-03-04 09:34] Andersson007 commented on #207
Context:
https://github.com/ansible-collections/community.general/pull/941
https://github.com/ansible-collections/community.general/issues/884

I guess we can deprecate it now and get rid of it in the next major release.
Any thoughts, objections, obstacles?
If no, would anyone like to pick it up?

[2022-03-04 13:30] hunleyd commented on #207
WFM

I'm game, with some hand-holding

[2022-03-04 14:01] Andersson007 commented on #207
Cool, thanks:)
So, the process is:
- [ ] I would create a separate issue similar to https://github.com/ansible-collections/community.postgresql/issues/189 with check boxes, etc. It can contain this list or another list describing all steps needed.
- [ ] Add a deprecation warning, doc update, and announcement similar to https://github.com/ansible-collections/community.postgresql/pull/190
- [ ] We'l

[2022-03-04 14:14] hunleyd commented on #207
Cool. I'll see what I can do w/ the above. Thx!

[2022-03-04 19:14] caseyandgina commented on #207
Wow, I'm sorry I missed that.  Had I seen that I wouldn't have filed this issue.  Sorry for the oversight on my part.  But it sounds like it's maybe good I did, as I don't see why an unspecified default privilege should be added by default.

[2022-03-05 17:13] hunleyd opened #208 "postgresql_privs: deprecate and remove usage_on_types in 3.0.0"
SUMMARY

Relates to #207

`postgresql_privs`: deprecate and remove usage_on_types

The rough plan is:

- [ ] Add a deprecation warning to the postgresql_privs module about the deprecation of the usage_on_types option. Users will be directed to use `type: type` to explicitly manipulate privileges on PG types.
- [ ] Update docs in the `postgresql_privs` module.
- [ ] Announce the deprecation and rem

[2022-03-07 08:28] Andersson007 commented on #207
@caseyandgina yep, that's absolutely fine, it's something not fully consistent yet, so thank's for spotting and reporting this!:)

[2022-03-07 08:53] Andersson007 opened #210 "Release community.postgresql 3.0.0"
##### SUMMARY
I suggest:
- Linking all related issues/PRs to this issue
- Releasing 3.0.0 right after Ansible `7` release (i.e. next autumn / fall) so that we'll reduce the affected audience to only people who install the collection manually. It'll be included in Ansible `8`.

[2022-03-07 08:54] Andersson007 commented on #210
https://github.com/ansible-collections/community.postgresql/issues/208

[2022-03-07 08:54] Andersson007 commented on #210
https://github.com/ansible-collections/community.postgresql/pull/209

[2022-03-07 08:55] Andersson007 commented on #210
https://github.com/ansible-collections/community.postgresql/pull/209

[2022-03-07 08:55] Andersson007 commented on #210
https://github.com/ansible-collections/community.postgresql/issues/189

[2022-03-07 08:55] Andersson007 commented on #210
@hunleyd @tcraxs any thoughts ?

[2022-03-07 13:49] hunleyd commented on #210
wfm

any reason we don't use GH milestones?

[2022-03-07 14:46] Andersson007 commented on #210
No reason, just nobody suggested:) I'll add a note to google about it to my TODO but if it's worth doing, no need to wait for my feedback, just do:)

[2022-03-07 15:50] #207 closed

[2022-03-10 07:56] Andersson007 commented on #85
Done

[2022-03-10 07:56] #85 closed

[2022-03-10 08:04] Andersson007 commented on #13
The [milestone](https://github.com/ansible-collections/community.postgresql/milestone/1) for next major release 3.0.0 has been created.
Thanks @hunleyd for doing this!
fyi: I added all related issues and PRs.

[2022-03-16 12:50] hunleyd commented on #13
i plan on releasing 2.1.2 today

[2022-03-16 13:50] hunleyd opened #212 "remove priv argument to the postgresql_user module"
##### SUMMARY

Given that the `postgresql_privs` module exists for granting/revoking permissions on relations to roles, the `priv` argument of the `postgresql_user` module seems redundant.  I understand that it is probably convenient for folks, but as I see it:
- its duplicate functionality
- its duplicate code
- it muddies two different activities into one module (which seems anti-KISS)

As such,

[2022-03-16 13:50] hunleyd commented on #212
opinions wanted: @andersson007 @tcraxs @DanScharon @jtelcontar @domainfun @klando @MichaelDBA @marcosdiez @felixfontein

[2022-03-16 14:08] hunleyd commented on #13
`community.postgresql` [2.1.2](https://github.com/ansible-collections/community.postgresql/releases/tag/2.1.2) has been released. Many thanks to @Andersson007

[2022-03-16 14:49] keithf4 commented on #212
Sounds like a good idea to me. That would then turn the `db` argument into something more like the `maintenance_db` argument in the `postgresql_db` module. Could maybe rename that for consistency but leave the old `db` as an alias for it.

[2022-03-17 09:07] Andersson007 commented on #212
@hunleyd thanks for bringing this up!

**+1** from me provided that
- we are sure that `postgresql_privs` covers all related features of `postgresql_user`.
- we'll announce it now and introduce a warning when the `priv` parameter is used saying something like `the parameter is deprecated and will be removed ..., use the postgresql_privs module instead`
- we are planning to release the next major r

[2022-03-19 16:52] acozine commented on #212
This will require some refactoring of our playbooks. However, the change does seem logical and tidy.

On balance: +1.

[2022-03-21 08:29] Andersson007 opened #215 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-22 12:16] karthikprabakaran commented on #96
Is there a way to resolve this issue ?.

[2022-03-28 13:29] alehaa opened #218 "Copy data to/from Ansible host"
##### SUMMARY

Like `\copy` in `psql`, it would be nice to copy the data to/from the `ansible_host` instead of the PostgreSQL server. In `psql` afaik this is achieved using `STDOUT` / `STDIN` and redirection.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Module `postgresql_copy`.

##### ADDITIONAL INFORMATION

* Paths used in `copy_from` / `copy_to` should be allowed relative and be sear

[2022-03-28 16:43] alehaa commented on #218
It would be cool to see this feature for other modules using files (e.g. `postgresql_db`) too.

[2022-03-31 11:40] Andersson007 commented on #218
@alehaa hi, thanks for the feedback! I'll put labels that the issue is vacant for review and implementation

[2022-03-31 11:43] Andersson007 commented on #212
@hunleyd if you wanna pick it up, please go ahead (i think, the implementation should be the same to the last your similar PR)

[2022-03-31 13:13] hunleyd commented on #212
@Andersson007 yup, planning to tackle it. we're in the middle of a release at $dayjob, so time has  been an issue

[2022-04-01 06:46] Andersson007 commented on #212
@hunleyd sure, no rush with this at all as it's been as is now for many years

[2022-04-06 06:22] Andersson007 opened #232 "CI: use git instead of Galaxy to install community.general for testing purposes"
##### SUMMARY
We use several modules from the `community.general` collection in our integration tests.
Currently, to install the collection, CI uses `ansible-galaxy` and Galaxy sometimes gets "busy" and returns errors.

To avoid red CI and unnecessary load on Galaxy, we should change the installation method to `git clone <c.g.url> /path`.

[2022-04-06 14:45] #212 closed

[2022-04-06 14:47] #232 closed

[2022-04-12 13:43] hunleyd commented on #13
i plan on releasing `community.postgresql` 1.7.2 and 2.1.3 today.

[2022-04-12 15:07] Andersson007 commented on #13
@hunleyd thanks for releasing!

[2022-04-25 09:25] coopengo-glecomte opened #240 "postgresql_owner change owner on every database"
##### SUMMARY

The module postgresql_owner update all databases which have the user(s) defined in "reassign_owned_by".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_owner

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 11

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Only database set in d

[2022-04-25 13:57] hunleyd commented on #240
thx for the report @coopengo-glecomte ! I'll look into it soon.

[2022-04-26 07:16] Andersson007 opened #243 "Drop support of Ansible 2.9 and ansible-base 2.10"
##### SUMMARY
Example https://github.com/ansible-collections/community.network/pull/426, partly, we need only:
- [x] ~~Remove lines from the AZP matrix (stable-2.9, stable-2.10)~~ Updated: they've been already removed
- [X] Adjust README
- [X] Update `plugins/module_utils/version.py` (as in the PR)
- [X] Create a changelog fragment with `major_changes:` notifying users that we stop support the ver

[2022-04-26 07:17] Andersson007 commented on #243
@hunleyd would you like to pick it up? No rush with this at all.
If you have no time, please let me know.

[2022-04-26 13:27] hunleyd commented on #243
@Andersson007 i spoke with @jchancojr and he'll do the code change under my guidance and I'll do the releases

[2022-04-26 13:27] jchancojr commented on #243
Confirmed. Thanks @hunleyd

[2022-04-26 13:51] Andersson007 commented on #243
@jchancojr thank you for your interest in helping with the collection! I sent an invite

[2022-04-27 14:55] hunleyd commented on #243
backport in #247

[2022-04-28 08:06] Andersson007 commented on #243
so there's the last step - releasing the collection
if any of you wanna release, please go ahead.
if you have no time, please let me know, i'll do it.

[2022-04-28 12:32] hunleyd commented on #243
i posted on matrix that i was planning to release them today. i was waiting to see if you approved #248 ;)
I'll get the releases out today @Andersson007

[2022-04-28 12:39] Andersson007 commented on #243
@hunleyd perfect, thanks!

[2022-04-28 13:28] hunleyd commented on #13
i plan on releasing community.postgresql 1.7.3 and 2.1.4 today.

[2022-04-28 15:23] hunleyd commented on #13
`community.postgresql` [1.7.3](https://github.com/ansible-collections/community.postgresql/releases/tag/1.7.3) and [2.1.4](https://github.com/ansible-collections/community.postgresql/releases/tag/2.1.4) have been released. Thanks to our newest contributor @jchancojr and everyone else involved!

[2022-04-28 15:40] #243 closed

[2022-04-29 10:17] ojc97 opened #252 "AttributeError: 'NoneType' object has no attribute '__version__'"
##### SUMMARY
When using the community.postgresql.postgresql_user or community.postgresql.postgresql_schema ansible modules, I am facing a python stacktrace which has the error "AttributeError: 'NoneType' object has no attribute '__version__'".

I have looked online and seen that this could be due to 'psycopg2' being missing but I have added an ansible step to ensure this is present.

Any help gre

[2022-04-29 10:52] Andersson007 commented on #252
@ojc97 hello, welcome to the project and thank you for reporting the issue!

I think it relates to psycopg2 (missed or i don't know why the interpreter doesn't see it), could you please recheck? Open the interpreter Ansible use on the **target** machine and try to run `import psycopg2`.

The issue helps spot another logical bug @hunleyd @jchancojr:
- In `plugins/module_utils/postgres.py`, we have

[2022-04-29 10:57] ojc97 commented on #252
@Andersson007 First of all thanks for your swift reply!!

I have already installed psycopg2. I will try and run `import psycopg2` now and report back shortly.

[2022-04-29 13:18] Andersson007 commented on #252
@ojc97 yep
If i understand correctly your controller is on MacOS and you want your playbook to run on **your controller** and connect to the remote postgres via psycopg2, correct?
If yes, i don't see in your example the task was delegated to your controller, e.g. via `delegate_to: localhost`.
Also in this case you need to install psycopg2 on your controller as it would be like an Ansible `target`

[2022-04-29 13:25] Andersson007 commented on #252
if case described above, that task that installs psycopg2 should be also with `delegate_to: localhost` so it will install in on your controller.
If you did that, there's homebrew mentioned, i have no experience in working with it. So there's probably issues in the local configuration issues. Maybe you could try to install psycopg2 manually.

[2022-04-29 13:28] Andersson007 commented on #252
https://stackoverflow.com/questions/67013694/django-unable-to-load-psycopg2-module-python-is-also-unable-to-load-it-even-th
people recommend to run `pip install psycopg2-binary`

[2022-04-29 19:35] jchancojr commented on #252
I can pick this up @Andersson007! Should be able to get to it ~today or this weekend.

[2022-04-30 14:49] hunleyd commented on #240
Was able to look closer at this and I don't believe this is a bug @coopengo-glecomte . Looking at the docs for the module:
[code]
It seems clear that `reassign_owned_by` will reassign _all shared objects (databases, tablespaces)_ not just the objects in the db you are connected to (see [the PG docs](https://www.postgresql.org/docs/current/role-removal.html) for confirmation of this behavior).

[2022-05-02 04:59] Andersson007 commented on #252
@jchancojr thanks! This week or next one would be imo fine:) No rush with this

[2022-05-02 05:01] Andersson007 commented on #252
@ojc97 when you investigate what's the reason and how to fix it, please let us know.
It can help other users with a similar case find a solution.
If you have any questions, feel free to ask.

[2022-05-02 09:28] Andersson007 commented on #240
yep, as @hunleyd wrote, the feature uses the `REASSIGN OWNED BY` postgres' command which doesn't allow to reassign certain objects but all or nothing.

[2022-05-02 12:54] hunleyd commented on #240
Let us know if we could make the docs any clearer @coopengo-glecomte otherwise, we'll close this one out in a few days.

[2022-05-03 09:45] ojc97 commented on #252
@Andersson007 I have been looking into the reasons regarding this today and i am yet to have an answer...

It appears that lots of people have problems with psycopg2 on mac os. Even more with M1 ARM Macs.

If you have any recommendations, id love to hear them.

So far i have reinstalled, used psycopg2-binary instead, added exports as suggested [here](https://lifesaver.codes/answer/psycopg2-binary-

[2022-05-03 10:22] Andersson007 commented on #252
@ojc97 as a workaround you could try to:
1. take a look at pyenv or
2. install a virtual machine with a linux distro, say, fedora or ubuntu, and run your controller in there

[2022-05-03 14:45] ojc97 commented on #252
This appeared to me an M1 Mac specific issue.

[2022-05-04 08:18] coopengo-glecomte commented on #240
Thank you for your answer, in this case this is simply a misinterpretation from me due to this sentence in the Ansible documentation which let me understand it's only applied to the current database :

`Pay attention - it reassigns all objects owned by this role(s) in the db!`

I'll close this issue !

Regards,

[2022-05-04 08:21] Andersson007 commented on #240
@coopengo-glecomte thanks for pointing this out! We'll fix the documentation, thanks for the contribution!

[2022-05-04 08:22] Andersson007 commented on #240
I'll open the issue for a while not to forget

[2022-05-04 08:27] coopengo-glecomte commented on #240
Thank you @Andersson007 !

[2022-05-04 18:21] hunleyd opened #257 "working group wiki maintenance"
I would like to update the [WG wiki](https://github.com/ansible-collections/community.postgresql/wiki/PostgreSQL-Working-Group) to reflect current membership.

If you are listed below and wish to remain listed as an active WG member, please '+1' your name.

If you are *not* listed below and wish to be added to the WG, please add a comment stating and include if you are a [reviewer](https://github.

[2022-05-04 18:21] hunleyd commented on #257
@Andersson007

[2022-05-04 18:21] hunleyd commented on #257
@klando

[2022-05-04 18:22] hunleyd commented on #257
@kustodian

[2022-05-04 18:22] hunleyd commented on #257
@sebasmannem

[2022-05-04 18:22] hunleyd commented on #257
@amenonsen

[2022-05-04 18:22] hunleyd commented on #257
@kostiantyn-nemchenko

[2022-05-04 18:22] hunleyd commented on #257
@andytom

[2022-05-04 18:23] hunleyd commented on #257
@dorn-

[2022-05-04 18:23] hunleyd commented on #257
@tcraxs

[2022-05-04 18:23] hunleyd commented on #257
@jbscalia

[2022-05-04 18:23] hunleyd commented on #257
@pgadiya

[2022-05-04 18:23] hunleyd commented on #257
@popov83

[2022-05-04 18:24] hunleyd commented on #257
@ilicmilan

[2022-05-04 18:24] hunleyd commented on #257
@hunleyd

[2022-05-04 18:24] hunleyd commented on #257
@jchancojr

[2022-05-04 18:24] hunleyd commented on #257
@pgguru

[2022-05-05 05:42] Andersson007 commented on #252
@ojc97 thanks for the solution!
@mschwrdtnr could you please try 2 last steps of https://github.com/ansible-collections/community.postgresql/issues/252#issuecomment-1116179614 ?
If it helps, maybe we should update the doc.

[2022-05-05 08:12] klando commented on #257
still around.

---

Cédric Villemain +33 (0)6 20 30 22 52
https://data-bene.io
PostgreSQL: Expertise - Conseil - Formation - Développement - Assistance Technique

------- Original Message -------
Le mercredi 4 mai 2022 à 20:22, Douglas J Hunley ***@***.***> a écrit :

[2022-05-05 12:39] coopengo-glecomte commented on #240
@Andersson007 to complete the issue, I think you should update examples too :

[code]

[2022-05-05 13:39] Andersson007 commented on #240
@coopengo-glecomte great idea! Thanks! @jchancojr are you OK with adding the examples?

[2022-05-05 13:43] Andersson007 commented on #240
@coopengo-glecomte i think all the objects of the `instance` including databases will be reassigned. So i would suggest changing `database bar` to `the instance`

[2022-05-05 16:58] Andersson007 commented on #240
@coopengo-glecomte would you like to submit the PR yourself maybe? We have a [Quick start dev guide](https://docs.ansible.com/ansible/devel/community/create_pr_quick_start.html).
Alternatively you can edit the EXAMPLES block directly by clicking the pencil pictogram in https://github.com/ansible-collections/community.postgresql/blob/main/plugins/modules/postgresql_owner.py
What do you think?

[2022-05-06 06:46] Andersson007 commented on #252
@blindrood thanks for the feedback!
The module is just a python file which runs `import psycopg2`. The output says that the module can't do it.
The `None` object is there because we had a logical bug in the code (psycopg2 was invoked before checking it present).
After we release the collection containing https://github.com/ansible-collections/community.postgresql/pull/253, it will report "missing

[2022-05-06 06:53] blindrood commented on #252
@Andersson007 I understand but psycopg2 (or rather psycopg2-binary) is part of awx-ee image, it's being installed during its creation and is working as I can access it from container. You can find image here:
[custom awx-ee image](https://hub.docker.com/layers/awx-ee/anixe/awx-ee/0.6.0/images/sha256-e5fbd9a9f73815d0eca4e817db58a290f6104633b45c0726b99853f3505a7f4f?context=explore)

[2022-05-06 07:06] blindrood commented on #252
This is ansible-runner custom image (https://github.com/ansible/ansible-runner)
build using ansible-builder (https://github.com/ansible/ansible-builder)

AWX runs ansible templates (playbooks) from inside such container to ensure reliability and reapitability.

Dockerfile is generated using builder and it basically installs OS packages, install pip packages and galaxy roles.

It was working for no

[2022-05-06 07:24] Andersson007 commented on #252
@blindrood thank you for the explanation!
I don't think postgres modules use those libraries, only psycopg2.
If you can edit your collection files in the image, the following can help debug the issue:
1. Find `module_utils/postgres.py`
2. Instead of the following at the top of the file
[code]
put
[code]
3. Run again. As there will be not `try/except`, you should see the actual error

If it doesn't

[2022-05-06 07:30] Andersson007 commented on #252
Maybe `psycopg2` uses one/both of them as a dependency? I.e. the newer psycopg can't be installed. Try to find the dependency and downgrade psycopg2 to a correspond versions of the libs

[2022-05-06 08:11] blindrood commented on #252
Hi, I followed Your suggestion and indeed this revealed that
[code]
How I can overcome this during Docker image creation if part of it already is pip install psycopg2-binary ?

[2022-05-06 08:39] Andersson007 commented on #252
Hi, maybe something from https://stackoverflow.com/questions/64690093/why-is-installing-python-psycopg2-on-my-docker-image-not-preventing-the-subseque will help.
Anyway, if you discover a solution, please share it here. Will be helpful for other folks.

[2022-05-06 11:06] blindrood commented on #252
Looks like I resolved issue on my side. Suspicious for me was that errors refer to python3.6 while I'm explicitly installing and using python3.8. dnf is not reporting python3.6 to be installed but files are there. Enabling debug in AWX I noticed that Ansible is refering to python at /usr/libexec/platform-python which is symbolic link to python3.6 binary. I changed this symlink to point to current

[2022-05-06 11:10] Andersson007 commented on #252
@blindrood thanks for the feedback!

Does make sense.

You're welcome!

[2022-05-06 11:12] Andersson007 commented on #252
closed via https://github.com/ansible-collections/community.postgresql/pull/253

[2022-05-06 11:12] #252 closed

[2022-05-06 12:06] Andersson007 commented on #240
Hi @coopengo-glecomte , sure, we'll do, no problem:)

[2022-05-06 13:55] Andersson007 commented on #240
@coopengo-glecomte just a fyi
@hunleyd and @jchancojr have found the truth - REASSIGNED command changes ownership of all databases and changes ownership of objects but only in the current database we connect to...

[2022-05-06 14:05] coopengo-glecomte commented on #240
@Andersson007 by default when we connect to a postgres instance, we are connected to a database (postgres by default), si I'm not sure to understand

[2022-05-06 14:09] hunleyd commented on #240
Only if you connect as the `postgres` user as, by default, you connect to  database named the same as the role you are connecting with :)

pls see [this comment](https://github.com/ansible-collections/community.postgresql/pull/260#discussion_r866820007) for oiur findings. we'll be tweaking the example/docs again later today in #260 based on those findings

[2022-05-07 13:24] jchancojr commented on #96
@andreagrax and @karthikprabakaran,

The issue here is in the `role_attr_flags` line. Specifically, the `NOSUPERUSER` attribute. Attempting to `ALTER` a user with `(NO)SUPERUSER` present, in RDS, will fail with the error you've encountered regardless of Ansible:
[code]

Altering the playbook to the following works:

[code]

You could also simply remove the `role_attr_flags` line entirely as these

[2022-05-08 01:27] jchancojr commented on #198
Hi, @astrumas.

Is this still an issue for you? I've run the suggested repro and am able to use `async` with `poll` successfully with `ansible [core 2.12.5]`

The playbook I used:
[issue_198.txt](https://github.com/ansible-collections/community.postgresql/files/8646174/issue_198.txt)

The output file with `async` and `poll` on:
[async_on.txt](https://github.com/ansible-collections/community.postgr

[2022-05-08 04:04] rootwyrm commented on #252
I am still seeing this after updating. I use a venv with `psycopg2-binary`, and after updating all modules in pip and collections. Including on hosts which have a native psycopg2 available.
[code]

Runner is Rocky Linux 8.5, destination is FreeBSD 13. This setup has worked previously without issue.

Very simple play, too.

[code]

[2022-05-09 07:40] #96 closed

[2022-05-09 07:43] Andersson007 commented on #96
The doc PR has been merged, thank you all!

[2022-05-09 08:10] Andersson007 commented on #13
As ansible-core 2.14 is [scheduled](https://docs.ansible.com/ansible-core/devel/roadmap/ROADMAP_2_14.html) for release in November, I suggest releasing c.p. 3.0.0 in ~December (depending on an actual release date of ansible-core). [Release issue](https://github.com/ansible-collections/community.postgresql/issues/210).

[2022-05-11 13:16] #240 closed

[2022-05-12 15:22] SantiRaposo opened #269 "postgresql_priv: Granting privileges using ALL_IN_SCHEMA does not use ALL TABLES in SCHEMA"
##### SUMMARY
When using the postgresql_priv module, selecting the ALL_IN_SCHEMA option for the `obj` argument does not produce the expected statement.

EXPECTED:
`GRANT <privileges> ON ALL TABLES IN SCHEMA <schema> TO <role>;`

ACTUAL:
`GRANT <privileges> ON schema.table1, schema.table2, schema.table3, ... schema.tableN <schema> TO <role>;`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

po

[2022-05-12 16:00] hunleyd commented on #269
thanks for the report @SantiRaposo !
if i'm reading this correctly, the end result is correct with either statement? it's just the excessive logging that's an issue?

[2022-05-12 17:58] SantiRaposo commented on #269
Yes the end result is apparently fine, it's just that the optimal way to execute changes to all tables in a schema is to use the ALL TABLES option rather than retrieving a complete list of tables and constructing a query that way.

[2022-05-12 18:01] hunleyd commented on #269
Thanks for confirming. Did you wanna look at this @jchancojr ? If so, feel free to self-assign, otherwise, I'll take a stab at it soon

[2022-05-12 21:52] jchancojr commented on #269
Sure, I'll take a look at this and reach back out with my findings.

[2022-05-14 16:24] jchancojr commented on #198
@astrumas Perfect. Looking forward to your results.

Also, nice to talk to you again ;)

[2022-05-14 17:45] jchancojr commented on #269
@SantiRaposo Hi,

The reason the code behaves this way is because we currently support versions < 9.0 where the `ALL TABLES IN SCHEMA` option doesn't exist. We'll work on adding logic to allow `ALL TABLES IN SCHEMA` in versions > 9.0 as well as what is already in place.

Thanks for pointing this out!

[2022-05-16 05:30] felixfontein opened #270 "[IMPORTANT] Missing PSF-license.txt file"
##### SUMMARY
plugins/module_utils/_version.py mentions licenses/PSF-license.txt, which doesn't exist yet.

Please also add that file (from https://github.com/ansible/ansible/blob/devel/licenses/PSF-license.txt) to all branches that contain plugins/module_utils/_version.py and create new releases ASAP. Thanks!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/module_utils/_version.py
PS

[2022-05-16 06:03] felixfontein commented on #270
As pointed out in https://github.com/ansible-collections/community.general/pull/4675#issuecomment-1127245658 by @gotmax23, ansible-core includes an older version of the license file. It's better to pull the updated license from https://github.com/python/cpython/blob/v3.9.5/LICENSE (which contains multiple other licenses as well that can be stripped).

[2022-05-16 07:32] Andersson007 opened #271 "Add PSF-licence, backport and release the collection"
##### SUMMARY
plugins/module_utils/_version.py mentions PSF-license.txt, which doesn't exist yet.

Please make sure to create new releases with this ASAP.

Similarly as in https://github.com/ansible-collections/ansible.posix/pull/362/files

[2022-05-16 07:40] Andersson007 commented on #271
relates to https://github.com/ansible-collections/community.postgresql/issues/270

[2022-05-16 15:00] hunleyd commented on #13
i plan on releasing community.postgresql 1.7.4 and 2.1.5 today.

[2022-05-16 16:12] hunleyd commented on #13
`community.postgresql` [1.7.4](https://github.com/ansible-collections/community.postgresql/releases/tag/1.7.4) and [2.1.5](https://github.com/ansible-collections/community.postgresql/releases/tag/2.1.5) have been released.

[2022-05-16 16:12] #271 closed

[2022-05-16 17:14] hunleyd opened #276 "formalized support matrix for PG versions"
##### SUMMARY

The collection should adopt a matrix of supported PG versions. Right now, there's no formal declaration of what PG versions are supported and the pipeline tests _a few_ different versions but the answer to 'what versions of PG does this collection support?' is essentially 'all of them? ¯\\\_(ツ)\_/¯'

As noted in [this comment](https://github.com/ansible-collections/community.postgre

[2022-05-16 17:22] keithf4 commented on #276
This sounds good. I've followed a similar support pattern with pg_partman. I didn't go out of my way to make the extension not work with older versions; it still technically works back to PG 9.4 but I officially only support 10+.  But if a feature or bugfix came out in PG that was not supported by a version older than that window, then I wouldn't hesitate to implement that feature and therefore br

[2022-05-16 17:22] pgguru commented on #276
This policy makes sense for me for new development/support; main question would be if/when there are some sort of security issues or bugs that affect older versions of the collections, are bugfixes released for the older versions as well, or we consider 5 years to be the maximum window of support for all of them?  i.e., in 2027 we have a security issue with PG16, do we patch only community.postgre

[2022-05-16 17:31] hunleyd commented on #276
@pgugu, the security issue would have to be both for a specific PG version and in the collection code, right? Right now, we only support the current collection (`main`) and the prior (`stable-1`). I don't know that we'd really want to expand that without more people/automation, but that's a very good question.

[2022-05-18 09:01] Andersson007 commented on #276
- I'm not sure if we should release a **special** major release each year to inform folks that we officially drop support of the latest EOL version of postgres. Feels a bit like an overkill to me, especially because dropping support doesn't mean the collection will stop working with that version. I'd suggest planning such things just for the next major release no matter when it'll happen maybe?
-

[2022-05-18 11:52] Vanav opened #277 "Ability to specify exact list of groups for user (and revoke user from any other groups)"
##### SUMMARY
Currently there seems to be no way to specify exact list of groups for user. You can only grant or revoke individual groups, without ability to revoke all groups from user.

There should be something like `append` in `user` module (https://docs.ansible.com/ansible/latest/collections/ansible/builtin/user_module.html#parameter-append), that allows to choose, if list of groups should be

[2022-05-18 12:58] hunleyd commented on #276
@Andersson007 :

It'd be more about announcing support for the new release since, as you say, we aren't _breaking_ old releases. I think it makes it easier for the community in that you can say 'PG N? Oh, that's supported in release X' instead of 'uh .. one of the X.X point releases, let me check the Changelog'. Just my $0.02

That was why I wanted to get the community feedback on the idea now. Th

[2022-05-20 20:14] nickmhankins opened #278 "postgresql_user unable to add user to RDS database when the user postgres user does not exist"
##### SUMMARY
`postgresql_user` unable to add user to RDS database when the user `postgres` user does not exist.

Say we set our master username to `someadmin`, I am able to create groups and all other resources no problem, but when trying to create users it comes back with an error saying that the database `someadmin` does not exist.  `someadmin` is the user I am logging in with, not a database,

[2022-05-21 13:37] hunleyd commented on #278
Thank you for reporting your issue @nickmhankins

When you connect to PostgreSQL, by default it tries to connect to a database that is named the same as the user you're connecting with. For example:
[code]
tries to connect to a database named `doug` whereas:
[code]
tries to connect to a database named `jim`.

To override this behavior, you need to specify the database you wish to connect to. On th

[2022-05-23 13:17] nickmhankins commented on #278
@hunleyd Thanks for your patience, that worked, I totally glossed over `login_db`.

[2022-05-23 13:17] #278 closed

[2022-05-25 13:21] jegj opened #279 "postgresql_pg_hba module is not idempotent when the task is delegated to another host and there is a loop involved"
##### SUMMARY
postgresql_pg_hba module is not idempotent when the task is delegated to another host and there is a loop involved

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_pg_hba

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.4 LTS

##### STEPS TO REPRODUCE

[code]

Inventory
[code]

##### EXP

[2022-05-25 19:39] jegj opened #280 "postgresql_subscription module is not idempotent"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.4 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The task should be idempotent

##### ACTUAL RESULTS

The task always reports a change and run the following query:
[code]
Looks like the

[2022-05-25 19:50] hunleyd commented on #280
Thanks for the report @jegj ! We'll look into this soon and update here with our findings.

[2022-06-01 08:21] Andersson007 commented on #69
@SzymonMGR hello, thanks for reminding! If you'd like to add these options, please go ahead (but let us know before),
otherwise I'll ping folks directly. What do you think?

[2022-06-01 08:48] SzymonMGR commented on #69
Hi ! Maybe it's possible to try with gitlab team firstly ?

[2022-06-01 18:11] Andersson007 commented on #69
I don't understand, could you elaborate a bit more?

[2022-06-02 07:19] SzymonMGR commented on #69
Sure - with pinging folks directly. "... otherwise I'll ping folks directly." ;)

[2022-06-02 23:03] hunleyd commented on #276
The votes look like:
GH - 7 for, 0 against
/r/ansible - 15 for, 0 against
/r/postgresql - 7 for, 0 against

Sounds like a plan :)

I'll get to working on this soon.

[2022-06-02 23:31] jchancojr commented on #198
Hi, @astrumas

Just reaching out to see if you've had time to revisit this. No sweat if not. Kindly let me know? Thanks!

[2022-06-03 11:10] Joris-van-der-Wel opened #283 "Missing psycopg2.extras import"
##### SUMMARY
Attempting to use the task postgresql_query results in an exception "module 'psycopg2' has no attribute 'extras'".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_query

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control host:
Debian Bullseye (debian:bullseye docker image)
python3, python3-pip, pyt

[2022-06-03 13:07] jchancojr commented on #269
Hi @SantiRaposo

Created PR #282 to solve for this! Thanks for pointing it out.

[2022-06-03 13:26] hunleyd commented on #283
thanks for the report @Joris-van-der-Wel ! we'll look into this shortly.

[2022-06-04 23:58] jchancojr commented on #283
Hi @Joris-van-der-Wel

I'm looking into this and will reach back out with my findings. Thanks!

[2022-06-05 00:17] jchancojr commented on #283
Hi again @Joris-van-der-Wel,

Just wondering, is there any reason in particular that you're using the `postgresql_query.py` module instead of the `postgresql_ext.py` module?

Would you mind kindly trying with the `postgresql_ext.py` module and let us know your results? We'll continue to look into this in the meantime.

Thanks!

[2022-06-05 00:23] #269 closed

[2022-06-07 06:07] #280 closed

[2022-06-07 13:39] Joris-van-der-Wel commented on #283
Hi, sorry for the late reply, Monday was a holiday.

There is no particular reason for using `postgresql_query` over `postgresql_ext`. I am in the process of upgrading old playbooks to the latest version of ansible. I am not the original author. Perhaps `postgresql_ext` did not exist a few years ago?

I can verify that the error does not occur when using `postgresql_ext`, which is a good work arou

[2022-06-07 20:15] astrumas commented on #198
@jchancojr   Nice to talk to you again as well!!  I apologize, priorities got shifted and I was unable to visit it when I had initially planned to.  You **will** hear back from me this week on this.

[2022-06-08 13:04] jegj commented on #279
Closing this issue. I did not notice the `keep_comments_at_rules` property for this module.

[2022-06-08 14:18] Andersson007 commented on #279
@jegj thanks for the feedback and for closing it!

[2022-06-10 18:21] astrumas commented on #198
@jchancojr  I upgraded to ansible-core 2.12.15 (from 2.11), which also upgraded the community.postgresql collection to 1.7.4 and I am still experiencing this issue.

I copied and used your tasks from your playbook example.  I have also included task profiling so you can see how much slower it is with async on versus off.

[astrumas_198_playbook.txt](https://github.com/ansible-collections/community

[2022-06-10 19:07] hunleyd commented on #198
hi Carey!

Can you try w/ 2.1.5 ? Just trying to see if it's an issue w/ the backport version or not. Thanks!

[2022-06-13 12:01] Andersson007 commented on #198
@astrumas you can get the latest version with
[code]

[2022-06-16 06:35] Andersson007 commented on #277
I took a look, folks, and am happy to pick it up:)

**Use case 2**

1. First thing that came to mind is introduction of a new parameter, for example, called `mode` or `group_match` (please suggest your options if it doesn't sound good to you).
It'll have several choices:
- When it's not specified (a default behavior), it means it'll work as now. If i understand correctly it appends groups when sta

[2022-06-16 13:17] Andersson007 commented on #277
good catch
so @hunleyd would you like to deprecate it as in https://github.com/ansible-collections/community.postgresql/pull/227 and add an issue to the milestone?

[2022-06-16 13:24] bendem commented on #212
Just wanted to say, you deprecated using `priv` on `postgresql_user`, but most example still point to using `priv` with `postgresql_user`. Might want to show users the better way.

[2022-06-16 13:25] Andersson007 commented on #212
@bendem good catch, thanks! @hunleyd we forgot about the examples:)

[2022-06-16 13:26] bendem commented on #212
Also, `priv` is documented on `postgresql_user` but not `privs` on `postgresql_privs` :)

[2022-06-16 13:46] hunleyd commented on #277
sure, i can do that today/tomorrow

[2022-06-20 07:29] Andersson007 opened #296 "postgresql_membership: remove unnecessary aliases"
##### SUMMARY
I noticed that the `postgresql_membership` module has the following sets of aliases for two parameters.

It is a bad practice as aliases can be introduced for compatibility in case of typos/ unsuitable original choices, etc.

[code]

I suggest choosing one name for each of the options and deprecate (and remove in 3.0.0) the other ones.

I suggest using:
- `source_roles`
- `target_rol

[2022-06-20 14:11] hunleyd commented on #296
So `groups` is the list of `roles` that we are GRANTing or REVOKEing and `target_roles` is the recipient of said GRANT/REVOKE. I get where you got 'source' from but I don't think it is "obvious" to end users. So maybe we should `groups -> roles` so it looks like:
[code]
I think that's pretty clear what is happening.

I could even see `target_roles -> targets` so it looks like:
[code]
(I prefer the

[2022-06-21 06:09] #277 closed

[2022-06-21 06:11] Andersson007 commented on #277
I merged the PR
@Vanav thanks for bringing this up! @hunleyd thanks for taking part in the discussion!

[2022-06-22 06:00] Andersson007 commented on #296
the first example (roles-target_roles) LGTM

[2022-06-22 08:55] betanummeric opened #297 "feature request: bulk option for pg_hba module"
### feature idea for module postgresql_pg_hba: bulk rule editing

Some of my pg_hba.conf have over 700 managed rules, which takes some time and memory to loop over (repeated parsing, editing and writing). My current usecase looks like this:
[code]

I would like to optimize that by adding/removing multiple rules with a single call to the module, which could look like this:
[code]

The new `bulk` ar

[2022-06-22 08:59] betanummeric commented on #297
Hi @jchancojr, @hunleyd, @tcraxs, @Andersson007, what do you think of this feature request? Is `bulk` a good name for the argument? How would you like it to work with the normal arguments (the three options)?
I can submit at PR.

[2022-06-22 13:25] hunleyd commented on #297
I think I prefer `rules` over `bulk`.

If the user specifies args *and* the new bulk rules, I think we should basically do a `combine` on them behind the scenes such that values missing in the bulk rules are 'filled in' by specified args.

But, I defer to @Andersson007 @jchancojr @pgguru @keithf4 et al

[2022-06-22 13:53] keithf4 commented on #297
I like `rules` better as well. The `combine` would basically be the same result option 2, then?

[2022-06-22 14:37] betanummeric commented on #297
@pgguru The order of rules is not preserved because the module sorts them according to https://github.com/ansible-collections/community.postgresql/blob/2.1.5/plugins/modules/postgresql_pg_hba.py#L590-L625.
The documentation says:

I would implement the `rules` argument by iterating over the items and adding/removing the rules.
If you also want to remove rules which preexist but are not in the `rul

[2022-06-22 14:50] jchancojr commented on #297
I like @betanummeric 's approach but the general idea of using `rules` with _some_ sort of `combine` sounds good to me.

+1 for `rules` and `combine`

[2022-06-22 15:20] pgguru commented on #296
What about `members` instead of `target_roles`? Since the module is called `postgresql_membership` you end up granting the `roles` to the `members`.

[2022-06-22 16:04] hunleyd commented on #296
i actually really like @pgguru 's suggestion

[2022-06-22 16:14] hunleyd commented on #297
I'd be OK with this

or perhaps `append` (bool) defaulting to `True` ?

[2022-06-22 17:20] hunleyd commented on #297
vgp!

Of those two, I prefer the former. But I prefer `overwrite` even more.

My $0.02 it should apply always.

[2022-06-23 10:26] Andersson007 opened #300 "postgresql_user: deprecate and remove groups arguments in version 3.0.0"
##### SUMMARY
Relates to https://github.com/ansible-collections/community.postgresql/pull/295

[2022-06-27 05:27] benformosa opened #301 "postgresql_user is not idempotent when password is a SCRAM hash"
##### SUMMARY
When providing the `password` parameter as a SCRAM-256 hash, postgresql_user will always give a result of changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.postgresql.postgresql_user

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 8.6

PostgreSQL 13.7 (RHEL App Stream `postgresql:13`)

#

[2022-07-08 10:06] betanummeric opened #307 "postgresql_user: `alter user` statements missing in return value"
### bug
The return value `queries` should contain a "List of executed queries", but when an existing user is alerted the `alter user` statements are not in the return value.

`create user` and `drop user` statements appear as expected in the return value.

### tested versions
community.postgresql: 2.1.5
ansible-playbook: 2.10.8
python: 3.9.2
targeted postgresql: 14

### how to repoduce
[code]
This

[2022-07-08 13:07] #307 closed

[2022-07-09 15:00] #297 closed

[2022-07-10 18:25] rgl opened #311 "PGPORT environment variable is ignored"
##### SUMMARY

The `PGPORT` environment variable is ignored.

Because of that, we have to explicitly set the `port` variable in all the ansible module invocation, which is quite unfortunate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_db

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODU

[2022-07-11 01:08] hunleyd commented on #311
You will want to set your environment at the play/role/task level as per https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html

[2022-07-11 04:20] rgl commented on #311
It does not work either:

[code]

I've added the workaround (commented) `port` definitions that work.

I've added an docker compose drive example that reproduces this is at:

https://github.com/rgl/ansible-init-postgres/blob/main/docker-compose.yml

[2022-07-11 12:26] hunleyd commented on #311
That's odd. I know we use this method here at $dayjob. I'll look into this in a bit and see what I can determine. Thanks for the report and your efforts so far @rgl !

[2022-07-12 14:39] felipenazario opened #312 "Multiple queries should return multiple results"
##### SUMMARY

I believe that if the script file has **N** SQL queries, it should return **N** results. But today it **only** returns the **last** SQL Query in the script file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.postgresql.postgresql_script

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

uname -a

[c

[2022-07-12 14:48] hunleyd commented on #312
thanks for the report @felipenazario ! i agree with your suggestion. we shall endeavor to make it happen.

[2022-07-19 10:54] cmanzur opened #313 "Add action_groups to runtime.yml"
##### SUMMARY
Please add a array in meta/runtime.yml to be able to use **module defaults**.
Like here: https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html

This is very useful to don't repeat  **login_host, login_user, login_password** on every **task** (postgresql_user, postgresql_db, etc...)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL IN

[2022-07-19 12:19] hunleyd commented on #313
Thanks for the suggestion @cmanzur ! This sounds like a great idea to me. I'll see if we can get it coded up soon.

[2022-07-22 11:29] Jhiliano opened #314 "postgresql_info show command with protected keywords"
##### SUMMARY

Show command in postgresql_info is not protected by brackets, when a parameter contain a key word (like analyze), it raises an SQL syntax error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module postgresql_info (it sould be in this line [here](https://github.com/ansible-collections/community.postgresql/blob/7de6946b60cdf1301f77aaaf5add605a354873ba/plugins/modules/postgres

[2022-07-22 13:58] hunleyd commented on #314
thank you for the report and proposed solution @Jhiliano ! We'll look into this soon.

[2022-07-24 15:21] rgl opened #315 "postgresql_ping crashes parsing the yugabytedb server version"
##### SUMMARY

`postgresql_ping` crashes parsing the yugabyte (aka yugabytedb) server version:

[code]

This is similar to https://github.com/ansible-collections/community.postgresql/issues/40. The fix should be similar, but maybe could get the version string with an integer only numbers, for example, using the regex `\d+(\.\d+)+`.

Please let me known if you want me to create a PR.

##### ISSUE T

[2022-07-25 07:33] Andersson007 commented on #13
Answered:) feel free to proceed with releasing (if no time, please let me know), thanks!

[2022-07-25 13:47] Andersson007 commented on #13
@betanummeric would you like to release the collection yourself? I'll provide all the guidelines needed if yes.

[2022-07-25 16:29] hunleyd commented on #315
thanks for the report @rgl ! if you have time for a PR that would be great; otherwise we'll add it to the backlog and get to it in the near future.

[2022-07-25 19:01] rgl commented on #315
@hunleyd, please have a look at https://github.com/ansible-collections/community.postgresql/pull/316 and let me known if anything is missing.

[2022-07-26 06:48] rgl commented on #315
@hunleyd, after a couple o retries, its now all working in CI :-)

[2022-07-26 10:55] betanummeric commented on #13
@Andersson007 Ok, let me try it. What do I need to do?

[2022-07-26 12:07] Andersson007 commented on #13
@betanummeric great, thanks! The process is actually pretty straightforward.

- I've just invited you with "write" access to the repo. Could you please accept it in a corresponding email you'll get? Can we consider you a maintainer after that? There will be nothing obligatory. One thing, do not merge your own PRs without at least one other maintainer's approval
- We release versions 1.* from `stab

[2022-07-26 14:05] matthbakeredb commented on #301
This would be useful addition. Currently doing exactly this in a local fork. Thanks for submitting this!

[2022-07-27 06:23] Andersson007 commented on #301
@matthbakeredb thanks for the feedback, i think we'll merge the PR this week, there's one thing that needs to be added

[2022-07-27 09:56] #315 closed

[2022-07-27 11:36] betanummeric commented on #13
community.postgresql [1.7.5](https://github.com/ansible-collections/community.postgresql/releases/tag/1.7.5) and [2.2.0](https://github.com/ansible-collections/community.postgresql/releases/tag/2.2.0) have been released.

[2022-08-02 08:01] #301 closed

[2022-08-04 17:12] sivanagireddyb opened #328 "postgresql_query is not able use variable list as postgreSQL Json"
### Summary

I am not able to use the variable list as postgreSQL Json argument in the psql query

PostgreSQL accept Json in format ["test@gmail.com","test1@gmail.com"]
On manipulating variable list ["test@gmail.com",  "test1@gmail.com"]

Error:
`
Invalid input syntax for type json\n LINE 1:... Token \"'\" is invalid
`

### Issue Type

Bug Report

### Component Name
postgresql_query

### Ansible V

[2022-08-04 17:18] hunleyd commented on #328
thanks for the report @sivanagireddyb . I haven't looked at the code, but does using single-quotes instead of double-quotes fail w/ the same error?

[2022-08-05 00:10] sivanagireddyb commented on #328
@hunleyd Yes, Double quotes are also giving same error. I had to use `json` filter and `ascii` format to make it work. `'{{ contacts|to_json(ensure_ascii=False) }}'` this worked for me.

[2022-08-05 12:15] hunleyd commented on #328
ok thanks for the update @sivanagireddyb . we'll look into the issue and see if we can code up a fix.

[2022-08-10 07:52] Andersson007 commented on #328
@sivanagireddyb hello, thanks for reporting the issue. I'm not a Postgres JSON user.
I found on https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-json/
that JSON should be inserted as a string of the format `'{"key": "value"}'` but I see a list in the description.
- Could you please elaborate a bit on why there's the list in the description?
- If you pass, say, the string `{"email1

[2022-08-10 08:06] Andersson007 commented on #311
@rgl hello, thanks for reporting the issue!

@hunleyd so you use `environment: VAR: 'value'` with this collection same way as @rgl mentioned (not including the provided workarounds) and it works, right?

[2022-08-10 08:28] Andersson007 commented on #312
@felipenazario thanks for reporting the issue

Currently the module executes a SQL script file content as a whole, at once and the postgres python driver returns the result of the last query - it just works that way `because a cursor only stores the results of the last query.`

It's is possible to implement returning multiple results via splitting a content of SQL file into separate queries and ex

[2022-08-10 12:28] felipenazario commented on #312
Hi @Andersson007,

I understand your point of view, this behavior of multiple queries is a frequent task, not an exceptional task and it was already present before using **query_list** and **query_all_results**.

When I read the [postgresql_query docs](https://docs.ansible.com/ansible/latest/collections/community/postgresql/postgresql_query_module.htmll) it says:

Please correct if my understand i

[2022-08-10 13:09] hunleyd commented on #311
nope. sorry. i was misremembering. we use `environment` with `command: psql <blah>` in a few places.

[2022-08-11 08:12] Andersson007 commented on #311
so maybe it's an expected behavior (to use lookup) ? No time to go deeper right now:(

[2022-08-15 08:32] Andersson007 commented on #69
implemented in https://github.com/ansible-collections/community.postgresql/pull/329,

Thanks everyone!

[2022-08-15 08:32] #69 closed

[2022-08-15 09:05] Andersson007 commented on #312
@felipenazario you're right, it was completely lost because of the reasons I described [above](https://github.com/ansible-collections/community.postgresql/issues/312#issuecomment-1210337044).

[2022-08-15 09:17] Andersson007 commented on #328
@sivanagireddyb could you please take a look? ^
We're looking forward to your feedback

[2022-08-15 13:48] sivanagireddyb commented on #328
Even though postgress type is Json it accepts list, Which worked for me when tested with hard-coded value instead of variable.

[2022-08-16 06:50] Andersson007 commented on #328
@sivanagireddyb if you pass the string {"email1": "test@gmail.com", "email2": "test2@gmail.com"}, will it work?

[2022-08-16 08:39] sivanagireddyb commented on #328
I haven't tested it but the the format I was expecting is in list `[]`

[2022-08-16 08:42] sivanagireddyb commented on #328
Using ascii filter along with json worked for me.

` '{{ contacts|to_json(ensure_ascii=False) }}'`

[2022-08-16 21:24] felipenazario commented on #312
Hi @Andersson007,

Once I understood the real scenario, I believe that the current behavior of **postgresql_script** makes more sense as it is. Since in general, we expect a single result from a SQL script batch process.

As I mentioned before, the behavior of multiple queries is a **frequent** task, not an **exceptional** task. Then, my **suggestion** is that attribute **query** from the module *

[2022-08-17 07:43] Andersson007 commented on #312
Hi @felipenazario

We used exactly this approach in postgresql_query.
The question is how to split the queries from the script file safely?
We used `;` but it can be a part of text values also withing the queries, e.g. `INSERT INTO text VALUES ("my text ; blah ; blah"); SELECT 1`.
If someone can write a **safe** implementation of an algorithm that splits queries by `;` (all possible scenarios) and

[2022-08-20 04:08] caseyandgina opened #332 "Add support for alter default privileges grant usage on schemas to postgresql_privs"
##### SUMMARY
I have encountered the same problem described on this closed issue:
https://github.com/ansible/ansible/issues/63273

There was a patch made for it, but for whatever reason that merge request and the issue were closed and the problem still remains.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.postgresql.postgresql_privs

##### ANSIBLE VERSION
[code]

##### COLLECTION

[2022-08-20 05:06] caseyandgina opened #333 "Cannot grant select on tables in all schemas with postgresql_privs"
##### SUMMARY
I want to alter default permissions to grant select on all tables in all schemas, using community.postgresql.postgresql_privs, but this does not seem to be possible as it defaults to public schema only.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.postgresql.postgresql_privs

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

[2022-08-20 12:50] hunleyd commented on #332
thanks for the report @caseyandgina . can you repro this w/ collection version 1.7.5 or 2.2.0?

[2022-08-20 12:52] hunleyd commented on #333
thanks for the report @caseyandgina . can you repro this w/ collection version 1.7.5 or 2.2.0?

[2022-08-20 12:54] caseyandgina commented on #332
I looked at the current code here and confirmed that it's not supported yet:  https://github.com/ansible-collections/community.postgresql/blob/main/plugins/modules/postgresql_privs.py#L465

Also note that just above that, USAGE is duplicated in VALID_PRIVS.

[2022-08-20 12:57] caseyandgina commented on #333
Per the current documentation, it is defaulted to 'public' for `default_privs`.  There isn't any mention of an option for any schema.  https://docs.ansible.com/ansible/latest/collections/community/postgresql/postgresql_privs_module.html

[2022-08-21 15:17] antony-with-no-h commented on #311
In the [get_conn_params](../blob/main/plugins/module_utils/postgres.py#L168) function, you can see it doesn't look for any environment variables. Expected/not implemented.

[2022-08-22 06:49] Andersson007 commented on #311
if someone can pick it up and implement, i'd be happy to review

[2022-08-22 06:55] Andersson007 commented on #332
@caseyandgina thanks for reporting the issue!
Would you like to submit a PR? We have the [Quick start guide](https://docs.ansible.com/ansible/devel/community/create_pr_quick_start.html) if needed.

[2022-08-22 15:03] caseyandgina commented on #332
Hi @Andersson007 - I am a DBA using Ansible to deploy database infrastructure, and unfortunately am not a developer nor able to work on this myself.

[2022-08-22 19:40] felipenazario commented on #312
Hi @Andersson007,

I have been think about this multiple queries feaure and I came up with this idea of compose the all previous mentions.

[code]

Above I wrote a simple example to illustrate it. The would be executed one by one in the current session and appending the results to a list which will be returned, but all positions are executed preserving the current behavior below.

[code]

As you a

[2022-08-23 05:16] Andersson007 commented on #312
@felipenazario yes, for now, the result of INSERT in `INSERT INTO text VALUES ("my text ; blah ; blah"); SELECT 1` will be cut off by the driver

[2022-08-23 06:36] Andersson007 commented on #332
@caseyandgina i reproduced the bug in CI, looking now

[2022-08-23 06:50] Andersson007 commented on #332
After i made the changes from that PR, i get:
[code]
So the issue is deeper than it can seem. I guess that's why the original reporter and author dropped it. If i have free time later, i'll take a look but no promises

[2022-08-24 14:57] felipenazario commented on #312
Hi @Andersson007,

Can I count on that this feature will be inserted in the team backlog?

[2022-08-24 22:00] caseyandgina commented on #332
@Andersson007 This is related to https://github.com/ansible-collections/community.postgresql/issues/333 - Currently the "schema" option is defaulted to 'public', and there seems to be no way to not specify a schema which is another big limitation as sometimes default privileges should be global to all schemas.  Specifying a schema when granting/revoking on a schema is impossible hence the error yo

[2022-08-24 22:01] caseyandgina commented on #332
To be clear, when not restricting a default privilege to specific schema(s), the "in schema ____" should not be present in the SQL.

[2022-08-25 19:37] hunleyd opened #334 "do not use yes/no in doc"
As per the [vote](https://github.com/ansible-community/community-topics/issues/116) we should _not_ be using `yes`/`no` for truthiness in the docs.

[2022-08-29 12:12] hunleyd opened #338 "type mismtch"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_sequence

[2022-08-29 12:14] #334 closed

[2022-09-09 01:48] caseyandgina opened #343 "postgresql_privs is not always idempotent"
It doesn't seem that postgresql_privs is always idempotent as it should be.

The following always makes a change even on repetitive runs:
[code]

Tedious workaround:
[code]

Likewise for this one:

[code]

Tedious workaround:
[code]

[2022-09-09 12:40] hunleyd commented on #343
thanks for the report @caseyandgina! we'll look into it shortly.

[2022-09-10 19:13] DonBower opened #345 "postgresql_user action fails, but equivalent host action works"
##### SUMMARY

While attempting to add a PostgreSQL user, with the task:
[code]
I get the following failure:
[code]
However, the equivelent host command works just fine:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_user

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

local: macOS version 12.5.1
remote

[2022-09-11 04:06] DonBower commented on #345
I have the same issue on an ubuntu 20.04, so pretty sure this may be the way I am using this.

[2022-09-11 13:12] hunleyd commented on #345
This isn't an issue w/ the postgresql_user module, it's telling you that $HOME/.ansible/tmp was created with the wrong permissions. If you delete it, that directory should be automatically recreated with the proper permissions.

[2022-09-11 15:08] DonBower commented on #345
I deleted the `~/.ansible/tmp` directory, same result.
That directory had the same permissions as the `~/.ansible` did, 700.
I opened up both directories to 777, and that did not work either.
Given that these are brand new machines, I would have to say if Ansible is not configured properly, then there is a problem with the docs.
but at this point, I think their man be something wrong with the modu

[2022-09-11 17:56] DonBower commented on #345
Finally got this to work from a fresh OS install.
Three things were necessary:

1. SUDO must be allowed to switch to the `postgres` user without password required
2. `psycopg2-binary` module must be installed from root, with umask = 0022.
3. use of `community.postgresql.*` requires the use of ansible_ssh_pipelining, because the ~/.ansible/tmp dir does not permit use by the user `postgres`

I offer

[2022-09-11 17:56] #345 closed

[2022-09-12 12:17] hunleyd commented on #345
Do you happen to have the `acl` package installed on your PG node(s)? If not, can you innstall it and see if that fixes your issue?

[2022-09-12 16:16] hubiongithub commented on #78
Hello
I'm not convinced this is a postgresql bug (the link above shows only that postgresql behaves that way)
I tried the following:

[code]

ang get accordingly:

[code]

So only if we send the list in quotes to the alter statement, it will get extra quotes,
if we send the list without quotes OR a list of comma seperated quoted strings it will be ok in postgresql.auto.conf

plugins/modules/postgr

[2022-09-14 13:00] #314 closed

[2022-09-21 14:56] stefanvdm-em commented on #30
Hi everyone,

Thank you for all your work on this fantastic collection!

I want to take a stab at contributing to the project by adding a new module **postgresql_funcs** and saw on the [WG](https://github.com/ansible-collections/community.postgresql/wiki/PostgreSQL-Working-Group) that we should mention it here.

_PS: Contributing to open source projects is a new exercise for me... I might end up a

[2022-09-21 16:01] hunleyd commented on #30
hi @stefanvdm-em and welcome!

if you would, please open an issue describing the work you propose, and then make your PR "against" that issue. and don't worry about asking "silly" questions in that issue, we were all new at this once (some of us still are!) so we're happy to help.

[2022-09-21 18:12] stefanvdm-em opened #348 "module development: postgresql_funcs"
##### SUMMARY
Create, alter or drop PostgreSQL functions.

##### ISSUE TYPE
- Module development

##### COMPONENT NAME
postgresql_funcs

##### ADDITIONAL INFORMATION
Example usage:
[code]

##### PROPOSED ANSIBLE ARGUMENTS
Considering the most basic and minimal usage of [CREATE FUNCTION](https://www.postgresql.org/docs/current/sql-createfunction.html)
[code]
we can see that we will always need:
- a

[2022-09-26 19:29] btoussaint opened #349 "Missing options for pg_hba contype"
##### SUMMARY
The postgresql_pg_hba module does currently not support all valid options for contype

##### ISSUE TYPE
The contypes "hostgssenc" and "hostnogssenc" are supported by postgresql but not this module.

##### COMPONENT NAME
postgresql_pg_hba

[2022-10-03 09:15] Andersson007 commented on #349
@btoussaint hello, thanks for the feature request!

@betanummeric @sebasmannem would you like to take a look?

[2022-10-03 09:35] Andersson007 commented on #348
@stefanvdm-em hello, thanks for the suggestion! Here are several things we should take a consideration when we think about adding new modules:
- it should cover as much underlying functionality as possible, i.e. should be able to create complex functions (i'm not a specialist though)
- it should be truly idempotent, not like `postgresql_idx` or `postgresql_table` that i created when i was a green

[2022-10-03 09:38] Andersson007 commented on #30
@stefanvdm-em the project is totally newbie friendly, so welcome!:) We'd be happy to answer any questions.
You can be interested in reading the [guidelines](https://github.com/ansible/community-docs/).

[2022-10-03 09:47] Andersson007 commented on #78
@hubiongithub hello, thanks for investigating! would you like to submit a PR?

[2022-10-03 10:34] Andersson007 commented on #332
https://github.com/ansible-collections/community.postgresql/pull/335 was created some time ago, when it's tested, we can merge

[2022-10-03 10:37] Andersson007 commented on #312
@felipenazario hi, sorry for the late reply, tough times. yes, sure, we'll leave the issue open, thank you!
It sounds very fair, we just need to come up with implementation details and to find someone who can invest time in implementing it.

[2022-10-04 08:17] hubiongithub commented on #78
@Andersson007 Hello
I'm not sure if this would break other stuff, not quoting/checking input could lead to other problems
(can we break stuff by send sql injection like stuff to this special shared_preload_libraries handling if we do not use quotes here?)
Perhaps we need a list parsing piece of code here for pg settings which can accept comma separated lists instead of single strings. (Are there o

[2022-10-04 09:30] Andersson007 commented on #78
@hubiongithub good questions, thanks for raising them!

to prevent the additional " from postgresql.

@hunleyd @jchancojr what do you think? I think in the following implementation the code anyway isn't safe in terms of SQL injections or i'm wrong?
- The simplest and safest way is to hardcode `shared_preload_libraries` (only if it's the only param where we can pass a list) OR
- We could try to spl

[2022-10-04 13:03] stefanvdm-em commented on #348
Hi @Andersson007,

Thank you for the feedback and guidance. I have started to work on a draft for `postgresql_funcs`. Still, I will shift some gears first to consider if it provides an improved interaction over the existing `postgresql_query` interactions with functions and, if so, how to expose as much of the underlying functionality as possible.

[2022-10-04 13:07] hubiongithub commented on #78
Hello
a simple but not full list of parameters with comma separated lists as values derived from the reset value in pg_settings:
[code]

search_path is dypically set at role/user level so this might fly under the radar of postgresql_set most of the time
but DateStyle might be used instance wide (never touched it myself)

There are 74 (PG 14) parameters of type 'string', one good candidate would be

[2022-10-05 08:52] Andersson007 commented on #348
@stefanvdm-em sounds like a plan, thank you!

[2022-10-05 08:54] Andersson007 commented on #78
@hunleyd @hubiongithub thanks!

@hubiongithub would you like to submit a PR? If you haven't done it before, we have the [Quick-start guide](https://docs.ansible.com/ansible/devel/community/create_pr_quick_start.html). Please let us know

[2022-10-05 08:56] Andersson007 commented on #349
@betanummeric cool, thanks for picking this up!

[2022-10-05 11:06] hubiongithub commented on #78
@Andersson007 for a PR I probably would need to write code for " try to split value by commas"? (which I doubt will end well)

[2022-10-05 11:33] Andersson007 commented on #78
@hubiongithub i think you could use something like:
[code]

as
[code]

maybe it can be optimized or there's another better solution

[2022-10-05 13:13] betanummeric commented on #349
@Andersson007 It's ready for review now

[2022-10-10 11:14] betanummeric commented on #349
It's merged and backported now.

[2022-10-10 11:14] #349 closed

[2022-10-12 12:18] hunleyd opened #354 "have a `comment` argument wherever an object is created"
From a user perspective I think it would be more convenient to have a `comment` argument wherever an object is created. To only change a comment, they need to be idempotent. At a quick glance, the argument would suit 11 modules:

- postgresql_db
- postgresql_ext
- postgresql_idx
- postgresql_lang
- postgresql_publication
- postgresql_schema
- postgresql_sequence
- postgresql_subscription
- postgre

[2022-10-12 12:19] hunleyd commented on #354
it can be a shared class/function

[2022-10-18 09:11] Andersson007 commented on #78
@hubiongithub what do you think? ^ If you have no time for that, please let us know

[2022-10-20 10:10] Andersson007 commented on #78
I created a PR https://github.com/ansible-collections/community.postgresql/pull/357, ready for review

[2022-10-20 14:30] #78 closed

[2022-10-20 14:37] Andersson007 commented on #78
@nergdron thanks for reporting the issue!
@hubiongithub @hunleyd thanks for reporting and reviewing it!
@hunleyd thanks for reviewing and merging the PR!

[2022-10-20 20:25] mmauksch opened #359 "Not possible to define composite primary key with postgresql_table"
##### SUMMARY
The postgresql_table module currently doesn't have the functionality to create a composite primary key spanning multiple columns. This would be required for some table designs though

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
postgresql_table

##### ADDITIONAL INFORMATION
Why is it useful? Composite primary keys are an integral part of a clean database design. Well known

[2022-10-21 08:23] Andersson007 commented on #359
@mmauksch hello, thanks for reporting this!
I'd like to ask your general opinion on the module?

The context is that, imo, it's not designed well in general providing only partly idempotance (i'm the author and i was green at that time and we wrote `postgresql_query` later).
`postgresql_table` is just a kind of query constructor. Yep, it can change something (like table's owner iirc) but it can't,

[2022-10-23 15:02] mmauksch commented on #359
General opinion on the module? It's useful. But without the ability to do composite primary keys it's missing some crucial functionality in my opinion.
In my specific case that lead me to writing the ticket? I learned that the service I wanted to deploy with ansible needs a init setup to be run anyways which provisions the tables. So my use for the module in that case is moot now. Still a useful f

[2022-11-02 16:36] hunleyd commented on #13
i plan on releasing 1.7.6 and 2.2.1 today

[2022-11-04 19:56] hunleyd commented on #13
`community.postgresql` [1.7.6](https://github.com/ansible-collections/community.postgresql/releases/tag/1.7.6) and [2.3.0](https://github.com/ansible-collections/community.postgresql/releases/tag/2.3.0) have been released finally

[2022-11-17 15:15] SiL3x opened #372 "Add support for partitions to postgresql_table"
##### SUMMARY

For larger databases it would be a nice improvement to be able to manage partitioned tables and partitions using the postgresql_table module.
Managing in this context includes (but is not limited to):
 - Creating partitioned tables
 - Attach & detach partitions

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

postgresql_table

##### ADDITIONAL INFORMATION

- This feature woul

[2022-11-21 12:40] vonschultz opened #373 "postgresql_privs fails with type=default_privs, privs=ALL, objs=ALL_DEFAULT"
##### SUMMARY

With Ansible 6.6.0 `postgresql_privs` fails when running with type=default_privs, privs=ALL, objs=ALL_DEFAULT. The issue appears to have been introduced in commit eed4e1f4641acc6181647e7d18bd550261a282d5 which added `SCHEMAS` to the `VALID_DEFAULT_OBJS` variable and thereby to the `ALL_DEFAULT` objs, despite `SCHEMAS` not being supported with `privs=ALL`.

##### ISSUE TYPE
- Bug Rep

[2022-11-21 12:48] vonschultz commented on #373
Github is not cooperating with me. I was still writing when I accidentally posted the issue. I'll have another look before I maybe open the issue again.

[2022-11-21 13:01] vonschultz commented on #373
OK, now I think I have a proper issue. Sorry about the editing mess.

[2022-11-21 13:11] hunleyd commented on #373
thanks for the report @vonschultz !

did you want to look into this @Andersson007 ?

[2022-11-22 11:02] Andersson007 commented on #373
@vonschultz @vonschultz hi, yes, thanks, when I feel better, I'll take a look

@vonschultz could you please run your tasks with `-vvv` and report the traceback (only a part with the sequence of function invocations)?

[2022-11-23 14:28] vonschultz commented on #373
This is the output of the task when running with `-vvv`:
[code]

There's no traceback in the Python sense, just a sequence of shell commands and the failure.

[2022-11-24 08:03] Andersson007 commented on #373
@vonschultz thanks!
I've reproduced the bug in integration tests and created the PR https://github.com/ansible-collections/community.postgresql/pull/374

Could you folks please take a look?

[2022-11-25 07:00] #373 closed

[2022-11-25 07:02] Andersson007 commented on #13
i plan on releasing 2.3.1 today

[2022-11-25 07:53] Andersson007 commented on #13
The community.postgresql collection version 2.3.1 has been released ([changelog](https://github.com/ansible-collections/community.postgresql/blob/main/CHANGELOG.rst)). Thanks to @vonschultz and @hunleyd !

[2022-11-25 07:59] Andersson007 commented on #373
@vonschultz thanks for the issue! The investigation really helped much.
I released a fixed version `2.3.1` and it's available on [Galaxy](https://galaxy.ansible.com/community/postgresql) for installation via the `ansible-galaxy` utility or manually (if you install it from Galaxy you need to update it manually from that point on).
You're feedback would be much appreciated.
Thanks!

[2022-11-25 09:25] vonschultz commented on #373
I can confirm that version 2.3.1 installed through `ansible-galaxy` fixes the issue, and the task runs without error. Thank you very much, @Andersson007, @hunleyd.

[2022-11-25 09:32] Andersson007 commented on #373
@vonschultz great, thanks for the feedback!

[2022-11-29 00:11] nlvw opened #376 "postgresql_pg_hba is not idempotent when used with overwrite and rules"
Consider the following role files

default/main.yml

[code]

tasks/main.yml

[code]

When overwrite is set to `true` the task will always show as changed even if the file is identical to what it was before.  This means that the `reload postgresql` handler will run every time regardless of actual changes.

[2022-11-29 06:41] Andersson007 commented on #376
@nlvw hello, thanks for reporting the issue!

@betanummeric @sebasmannem i wonder if it's a bug or something intentional?